## 포함된 내용 - 추가 칼럼 생성

* job1 - job 칼럼 1차 전처리(괄호 제거) 완료, 2차 전처리 월요일 이후 진행 예정
* newbie - 신입/경력 구분
* degree - 학사/석사 구분
* hard_skill - 자격요건에서 요구하는 프로그래밍 언어, 라이브러리, 프레임워크, 문서작업 툴 

#### 대부분 파이썬 정규표현식 사용

In [1]:
import pandas as pd
import re

In [2]:
## search로 분류된 + 중복 제거된 데이터를 가져와서 사용

### 중복제거 시, 기존에는 url만 중복되는 것만 제거했는데 
### 하다보니 url은 달라도 내용이 완전 똑같은 공고가 여럿 있어서 이것도 함께 제거한 데이터를 만들어 사용함

df = pd.read_excel('mildsix_1021.xlsx')
df.head()

,company,job,company_intro,work,job_require,preference,url,search
0,악어디지털,딥러닝모델개발자,회사소개 악어디지털은 지난 2014년 문서 전자화 O2O 서비스 제공 기업으...,데이터분석 딥러닝 모델 훈련 및 모니터링 데이터 파이프라인 시스템 설계 ...,2년 이상 경력자 python을 이용한 프로그램 작성 경험 딥러닝 프레임...,OCR 데이터 활용 경험 스캔된 문서 처리 경험,https://www.wanted.co.kr/wd/132626,DE
1,수성엔지니어링,데이터 엔지니어 (Python specialist),수성엔지니어링 기술연구소 개발팀 소개 수성엔지니어링은 한국 엔지니어링 업계 TO...,Python 기반으로 공간데이터 처리 알고리즘 개발 Docker AWS ECS...,Python을 능숙하게 다룰 수 있는 개발자 객체지향 프로그래밍에 대한 충분...,Slack Notion GitHub등 협업툴 사용에 익숙하신 분 No...,https://www.wanted.co.kr/wd/103169,DE
2,아인시스에이아이랩,Data Engineer,IT 비즈니스 혁신을 선도하는 AI 스타트업 아인시스에이아이랩 이하 에이아이랩 ...,데이터 분석을 위한 알고리즘 및 개발 방향과 범위를 산정해요 데이터 수집 및...,이공계 졸업 예정자 혹은 관련 경력을 보유하신 분 네트워크 애플리케이션 개...,스타트업 업무경험이 있으신 분 Rust 개발 경험이 있으신 분 머신러닝 ...,https://www.wanted.co.kr/wd/130687,DE
3,유진로봇,개발본부 AMS팀 백엔드(Back-end) 개발자,Innovation for Quality of Life with Intellige...,서비스 운영에 필요한 로봇관리를 위한 소프트웨어 설계 및 개발 리소스 관리...,Javascript ES6 ES7 사용자 Database 사용 가능자...,리눅스 환경에서의 개발 익숙자 RESTful API 설계 경험자 Ne...,https://www.wanted.co.kr/wd/126811,DE
4,스콥정보통신,"AI(인공지능), 빅데이터 개발자",스콥정보통신은 1999년 설립 이후 RMON 기술을 이용한 네트워크 트래픽 ...,빅데이터 AI 데이터 엔지니어링 분석 및 처리 데이터 파이프라인 개발과 ...,Tensorflow PyTorch Keras 등 머신러닝 딥러닝 프레임워크 ...,로그시스템 및 데이터마트 Structure 설계 경험 Hadoop MR ...,https://www.wanted.co.kr/wd/129440,DE

In [3]:
## 대문자 소문자가 마구 섞여서 이를 통일해 줄 필요가 있음
### 일단 url 제외하고 모두 소문자로 바꾸기

cols = ['company', 'job', 'company_intro', 'work', 'job_require', 'preference']
for col in cols :
    df[col] = df[col].apply(str.lower)

## 신입/경력

In [4]:
## 신입/경력 구분
### 직무명에 신입 있거나 자격요건에 신입 포함되면 신입으로 분류

df['newbie'] = ''
for i in range(len(df)):
    if re.search('.*신입.*', df['job'].iloc[i]) or re.search('.*신입.*', df['job_require'].iloc[i]):
        df['newbie'].iloc[i] = '신입'
    else:
        df['newbie'].iloc[i] = '경력'

df.newbie.value_counts()

경력    1117
신입      50
Name: newbie, dtype: int64

## 학력 - 석사/학사

In [5]:
## 학력 - 석사 이상 요구 1, 아니면 0

df['degree'] = ''
for i in range(len(df)):
    if not re.search('석사.*|박사.*', df['job_require'].iloc[i]):
        df['degree'].iloc[i] = 0
    else:
        df['degree'].iloc[i] = 1

df.degree.value_counts()

0    1119
1      48
Name: degree, dtype: int64

## 직무명(job) 1차 전처리

In [6]:
## 직무명(job column) - 대괄호, 괄호 내용포함 다 지우기

result = []
for i, v in enumerate(df['job']):
    value = ' '.join(re.split('\[[a-z가-힣0-9].*\]|\([a-z가-힣0-9].*\)|-', v)).strip()
    result.append(value)
    
#print(result)

#df['job1'] = result

In [7]:
### 직무명은 2차로 한 번 더 클렌징 해줄 예정

### 이 때, 어디까지를 비슷한 이름으로 묶을 것인지 논의해야 함

## 하드스킬 추출

In [8]:
## 하드스킬 - 프로그래밍 언어, 라이브러리, 프레임워크... 따로 뽑아서 정리

## 일단 하드스킬만 보기위해 어떻게 하면 좋을까..
### 대부분 하드스킬은 영어, 일단 영어로 된 걸 가져와서 맞는지 살펴보자
## 보니까 대충 맞더라. 일단 여기 내에서 하드스킬을 추출해보자

df['hard_skills'] = ''
for i in range(len(df)):
    if  re.search('[a-z].*', df['job_require'].iloc[i]):
        df['hard_skills'].iloc[i] = re.search('[a-z].*', df['job_require'].iloc[i]).group()
    
    ## 하드스킬에 해당되는게 없는 공고는 그냥 'none' 이라고 쓰자 
    else :
        df['hard_skills'].iloc[i] = 'none'
        
df['hard_skills']

0       python을 이용한 프로그램 작성 경험   딥러닝 프레임워크 tensorflow ...
1       python을 능숙하게 다룰 수 있는 개발자   객체지향 프로그래밍에 대한 충분한 ...
2       c   c    java  rust 중 1개 이상 코딩 경험이 있으신 분   nos...
3       javascript es6  es7   사용자    database 사용 가능자  ...
4       tensorflow  pytorch  keras 등 머신러닝 딥러닝 프레임워크 사용...
                              ...
1162    c python 프로그래밍 언어에 능숙하며 문제해결이 가능하신 분 rest api ...
1163    c python 프로그래밍 언어에 능숙하며 문제해결이 가능하신 분 rest api ...
1164    linux php mysql sas r python 4 자격 조건 아래 중 1개 이...
1165    java servletjsp 개발경험 필수 javascript css를 이용한 반응...
1166                               ai 모델 개발에 현실 데이터 사용 경험
Name: hard_skills, Length: 1167, dtype: object

In [9]:
## 그다음에 하드스킬 전체 데이터를 쭉 훑어서 많이 등장하는 기술을 하나씩 찾아서 적음
##### 작성 기준은 최대한 영문으로. 띄어쓰기된 영문은 일단 뽑히도록 리스트에는 넣어두고 추후 이름 수정

## manager, gtm, tag  => google tag manager
## ga, analytics => google analytics
## powerpoint => ppt
## tracker => app tracker
## re, dash => redash
## es => elasticsearch


hard_skills = ['python', 'sql', 'r', 'java', 'javascript' 'spring', 'kotlin', 'scala', 'go', 'c', 'es', 'ga', 'amplitude',
        'node', 'nosql', 'spark', 'hadoop', 'kafka', 'hive', 'bi', 'tableau','aws', 'gcp','azura','rdbms',  'html','git','airflow',
        'apache','k8s','elasticsearch', 'linux', 'mysql', 'postgresql','ms', 'matlab', 'kubernetes','docker', 'typescript', 
        'django', 'fastapi', 'flask', 'mariadb', 'rdb', 'bigquery', 'redash', 'studio', 'google', 'spread', 'sheet', 'cloud', 'shell',
       'analytics', 'appsflyer', 'braze', 'tag', 'manager' ,'gtm', 'mongodb', 'jupyter', 'redshift', 'react', 'vue', 'angular', 
       'nodejs', 'mlops', 'devops', 'amp', 'firebase', 'braze', 'saas', 'adjust', 'mmp', 'excel', 'tracker', 'ppt', 
        'figma', 'radish', 'adobe', 'sa','gfa', 'da','mixpanel', 'photoshop', 'illustrator', 'premiere', 'ads', 'airbridge','fixel', 
         'utm', 'slack', 'notion',  'hue', 'quicksight', 'spreadsheet', 'powerpoint', 're', 'dash', 'db', 'zeplin',
        'oa', 'sketch',  'workspace', 'jira', 'trello', 'adobeoxd', 'axure', 'tensorflow', 'pytorch', 'keras',  
        'pandas', 'numpy', 'cpython', 'presto']

In [10]:
### 데이터를 전체적으로 쭉 보면 한글, 영어 다 섞여 있음
### 그 중 자주 나오는 스킬인데 한글로 나오는 건 따로 체크해서 영문으로 변경
### 변경할 내용이 너무 많아져서 이를 사전으로 만들어서 값을 치환(replace)함

need_to_replace = {'파이썬':'python','앰플리튜드':'amplitude', '애널리틱스':'ga', '엑셀':'excel', '엑셀등':'excel', 
                    '앱스플라이어':'appsfyler', '애드저스트':'adjust', '포토샵':'photoshop', '파워포인트':'ppt', 
                    '인텔리전스':'bi', '클라우드':'cloud', '프리젠테이션':'ppt', '일러스트레이터':'illustrator',
                    '프리미어':'premiere'}

for key, val in need_to_replace.items():
    df['job_require'] = df['job_require'].apply(lambda x: x.replace(key, val))

In [11]:
result = []
for i in range(len(df)):
    splited = set(' '.join(re.split('[가-힣0-9]', df['hard_skills'].iloc[i])).split())
    #print(splited)
    sub = []
    for value in splited:
        if value in hard_skills:
            sub.append(value)

    result.append(sub)

print(result)
## 결과에서 비어있는건 별다른 하드스킬을 요구하지 않은 곳임

[['tensorflow', 'python', 'keras', 'mlops'], ['amp', 'aws', 'python', 'git', 'docker'], ['elasticsearch', 'c', 'git', 'java', 'mongodb', 'nosql'], ['node', 'es'], ['tensorflow', 'pytorch', 'python', 'go', 'kotlin', 'java', 'keras', 'scala'], ['java'], ['python', 'c'], [], [], ['sql', 'python'], ['amp'], ['python', 'ga', 'amplitude', 'airflow'], ['node', 'flask', 'django', 'fastapi', 'sql', 'nosql'], ['python', 'airflow', 'java', 'db', 'sql', 'scala'], [], [], ['tensorflow', 'pytorch', 'python', 'shell', 'c', 'java'], ['sql'], ['node', 'mongodb'], ['tensorflow', 'r', 'pytorch', 'pandas', 'python', 'spark', 'sql'], ['aws', 'python', 'go', 'java', 'scala'], ['sql'], ['kafka', 'hive', 'python', 'hadoop', 'presto', 'spark', 'sql'], ['python', 'airflow', 'java', 'db', 'sql', 'scala'], ['spark'], ['jupyter', 'python', 'aws', 'gcp'], ['ms', 'c', 'tableau', 'java', 'sql', 'bi'], ['python'], ['tensorflow', 'pytorch'], ['python', 'go', 'linux', 'java', 'sql', 'scala'], [], ['aws', 'pandas', 'python', 'gcp'], ['rdbms', 'nosql', 'aws', 'python'], [], ['html'], ['kafka', 'devops', 'python', 'git', 'hadoop', 'java', 'spark', 'scala'], ['python', 'airflow', 'hadoop', 'sql'], ['devops', 'python', 'apache', 'hadoop', 'java', 'scala', 'mlops'], ['spark'], ['kafka', 'elasticsearch', 'python', 'linux', 'java'], ['rdbms', 'postgresql', 'python', 'mysql', 'sql'], [], ['r', 'python', 'tableau', 'sql', 'scala', 'bi'], ['devops', 'python', 'postgresql', 'sql', 'db', 'mysql'], [], ['postgresql', 'mysql'], ['numpy', 'python', 'postgresql', 'hadoop', 'spark', 'pandas', 'git', 'linux', 'c'], ['matlab', 'python', 'ms'], ['python'], [], [], ['aws', 'python', 'kubernetes', 'db', 'docker', 'java', 'mongodb', 'nosql'], ['python', 'apache', 'airflow', 'spark', 'sql'], ['node', 'typescript'], ['python', 'flask', 'git', 'docker', 'django', 'fastapi'], ['rdbms', 'nosql'], [], [], [], ['rdb', 'sql', 'nosql'], ['mlops', 'python'], [], ['python', 'cloud', 'kafka', 'apache', 'spark', 'sql', 'bigquery', 'aws', 'airflow', 'mlops', 'gcp'], ['tableau', 'sql', 'bi'], ['node', 'python', 'fastapi', 'flask', 'django', 'java'], ['r', 'tensorflow', 'pytorch', 'python', 'sql'], ['elasticsearch'], ['tensorflow', 'python'], [], ['python', 'java', 'spark', 'scala'], ['python', 'java', 'sql', 'scala'], ['studio', 'python', 'google', 'tableau', 'redash', 'sql', 'bi'], ['python', 'redash', 'sql', 'bi'], ['gcp', 'kotlin', 'aws'], ['python', 'go', 'java', 'scala'], [], ['sql', 'python'], ['kafka', 'python', 'hadoop', 'java', 'spark', 'scala'], ['hadoop', 'spark'], ['kafka', 'hadoop'], ['linux'], ['r', 'tensorflow', 'pytorch', 'python'], ['sql', 'python'], ['r', 'spread', 'python', 'sheet', 'google', 'tableau'], ['python', 'c'], [], [], ['java'], [], ['aws', 'python', 'shell', 'google', 'java', 'cloud', 'scala'], ['aws', 'python', 'shell', 'google', 'java', 'cloud', 'scala'], ['aws', 'python', 'c', 'cloud', 'sql'], ['aws', 'python', 'c', 'cloud', 'sql'], ['aws', 'ms', 'db', 'sa', 'sql'], ['db', 'mysql', 'sql'], ['excel', 'powerpoint'], ['sql', 'python'], ['python', 'rdb', 'spark', 'sql', 'nosql'], ['node', 'mysql', 'db'], [], ['java', 'elasticsearch', 'python'], ['appsflyer', 'manager', 'amplitude', 'google', 'tag', 'braze', 'analytics'], ['node', 'python', 'docker', 'kafka', 'sql', 'bigquery', 'scala', 'tensorflow', 'pytorch', 'kubernetes', 'airflow'], ['mysql', 'aws'], ['tensorflow', 'pytorch', 'python', 'hadoop', 'java', 'spark'], ['cloud', 'bi', 'appsflyer', 'adjust', 'aws', 'amplitude', 'ga', 'firebase', 'tableau', 'mixpanel', 'gtm', 'analytics', 'gcp'], ['docker', 'tensorflow', 'pytorch'], [], ['sql', 'ms'], ['sql'], ['python', 'tensorflow', 'pytorch', 'c'], ['pytorch', 'python'], ['python', 'go', 'airflow', 'java', 'scala'], ['cloud'], ['cloud'], ['cloud'], ['elasticsearch', 'java'], ['aws', 'python', 'java', 'cloud', 'scala', 'gcp'], [], [], [], ['db', 'kotlin', 'mongodb', 'java', 'mysql'], [], ['sql'], ['tensorflow', 'pytorch', 'python', 'go', 'kotlin', 'scala'], ['jupyter', 'python', 'kubernetes', 'airflow', 'hadoop', 'java', 'spark', 'scala', 'mlops'], ['kafka', 'python', 'hadoop', 'java', 'spark', 'scala'], ['mariadb', 'db', 'mysql', 'sql'], ['python', 'hadoop', 'sql'], ['kafka', 'python', 'hadoop', 'java', 'spark', 'scala'], ['kafka', 'hive', 'python', 'kotlin', 'java', 'hadoop', 'spark', 'scala'], ['kafka', 'python', 'go', 'kotlin', 'hadoop', 'java', 'spark', 'scala'], ['sql'], ['mysql'], ['redshift', 'aws', 'python', 'hadoop', 'sql', 'bigquery', 'gcp'], [], ['rdbms', 'mariadb', 'mysql', 'nosql'], ['vue', 'angular', 'react', 'html'], ['nodejs', 'aws', 'mongodb', 'git', 'mysql', 'typescript'], ['kafka', 'hadoop', 'spark'], ['python'], [], ['hive', 'python', 'presto', 'java', 'spark', 'sql'], [], ['hive', 'python', 'hadoop', 'java', 'spark', 'sql', 'scala'], ['rdbms', 'python', 'java', 'mysql', 'sql', 'scala'], ['mlops', 'devops'], [], ['hadoop', 'mysql'], ['mongodb', 'linux', 'elasticsearch'], ['hive', 'aws', 'python', 'airflow', 'spark', 'presto', 'java', 'scala'], ['bi', 'hive', 'tableau', 'dash', 'hadoop', 're', 'sql'], ['sql'], ['scala', 'java', 'python'], ['scala', 'java', 'python'], ['hive', 'tableau', 'dash', 'hadoop', 're', 'sql', 'bi'], ['scala', 'java', 'python'], ['kotlin', 'java', 'scala'], ['scala', 'java', 'python'], [], ['c'], ['ga', 'amp'], [], [], ['firebase', 'ga', 'gtm'], [], ['amp'], ['powerpoint', 'amp', 'excel'], [], [], [], [], [], [], ['ga', 'braze', 'sql', 'saas'], [], [], [], ['appsflyer', 'amp', 'ga', 'adjust'], [], [], [], [], [], [], [], ['ga', 'amplitude', 'gtm'], [], ['sa'], ['google', 'analytics', 'saas'], [], [], [], [], ['amp', 'mmp', 'gtm'], [], ['appsflyer', 'adjust'], [], [], ['ga'], ['ga'], ['analytics', 'google'], ['gfa', 'ga'], [], [], [], [], ['ms', 'oa', 'spreadsheet'], [], [], ['ga', 'gtm'], ['mmp'], [], [], [], ['appsflyer', 'amp', 'ga', 'gtm'], [], ['appsflyer', 'ga', 'amplitude', 'tableau'], ['appsflyer', 'ga', 'amplitude', 'ads', 'google', 'tableau'], [], [], [], [], [], [], [], [], [], [], [], ['manager', 'google', 'tag', 'analytics'], ['amp'], ['amp', 'excel', 'powerpoint'], ['ads', 'google', 'analytics'], [], ['tracker', 'tag', 'manager', 'google', 'analytics', 'html'], ['amplitude', 'braze'], ['ga'], [], [], [], ['google'], [], ['ga', 'ads', 'google'], ['appsflyer', 'ga', 'amplitude', 'tableau', 'braze'], ['appsflyer'], ['figma'], ['appsflyer', 'amplitude'], ['appsflyer', 'ga', 'amplitude', 'radish', 'sql'], [], [], ['saas'], [], [], ['excel'], [], [], [], ['adobe'], [], ['mixpanel', 'sql'], ['go'], [], ['amp'], [], ['appsflyer', 'adjust'], ['sql'], [], [], [], [], [], ['sa', 'gfa'], [], [], [], ['amp', 'sa', 'da'], ['google'], [], [], [], [], [], [], [], [], [], [], ['google'], [], ['sa', 'da'], [], ['analytics', 'google'], [], [], [], ['appsflyer', 'ga', 'amplitude', 'sql', 'excel'], [], [], [], ['amplitude', 'braze'], ['amp'], ['da'], [], [], [], ['ga'], ['amp', 'amplitude', 'mixpanel', 'braze', 'sql', 'saas'], ['sql'], [], ['photoshop', 'premiere', 'illustrator'], [], ['ga', 'ads', 'firebase', 'google'], [], [], [], [], ['appsflyer', 'amplitude', 'mixpanel'], ['ga'], ['ga', 'airbridge', 'firebase', 'ms', 'gtm'], ['sa', 'amp', 'fixel', 'tag', 'da', 'utm', 'google', 'analytics'], [], [], [], ['ga'], ['amp'], ['amp'], [], [], [], [], ['gfa', 'da'], [], [], [], [], ['google'], [], [], [], [], ['sa', 'da', 'ga'], [], [], ['appsflyer', 'amplitude', 'ga'], [], ['analytics', 'google'], ['sa', 'da', 'ms'], ['sa', 'da', 'ms'], ['sa', 'da', 'ms'], [], [], ['appsflyer', 'da', 'ga', 'airbridge', 'braze', 'sa', 'analytics', 'bi'], ['da'], [], [], ['appsflyer', 'firebase', 'ga'], [], [], ['appsflyer', 'airbridge', 'google', 'sa', 'da', 'analytics'], [], [], [], [], ['ga', 'google'], ['google', 'sql', 'analytics'], [], ['sql'], ['ga'], ['ga'], [], [], [], ['sa', 'da'], ['ga', 'mixpanel'], [], [], [], ['python', 'sql'], [], [], [], ['braze'], [], [], [], ['braze'], [], ['sql'], ['amplitude', 'braze', 'sql'], [], [], ['appsflyer', 'ga', 'braze', 'sql'], ['sql', 'braze'], [], ['notion', 'slack'], [], [], [], [], [], ['sql', 'r', 'python'], [], ['sql'], ['r', 'excel', 'sql'], ['r', 'excel', 'sql'], ['excel', 'sql', 'r'], ['studio', 'python', 'tableau', 'sql', 'bi'], ['sql', 'python'], ['r', 'python', 'tableau', 'redash', 'sql', 'saas', 'bi'], ['sql'], ['sql'], ['sql'], ['sql', 'python'], [], ['sql', 'saas'], ['sql', 'python'], [], [], ['hive', 'hue', 'hadoop', 'sql'], ['ms', 'tableau'], ['r', 'excel', 'ms', 'sql'], ['r', 'hive', 'python', 'hadoop', 'spark', 'sql'], [], ['analytics'], [], [], ['sql', 'python'], ['sql'], ['sql'], [], ['sql', 'bigquery'], [], ['sql', 'r', 'python'], ['sql', 'r', 'python'], [], [], ['google', 'sql', 'bi'], ['ga', 'python', 'amplitude', 'sql', 'mixpanel', 'gtm'], ['r', 'python', 'amplitude', 'sql', 'google', 'braze', 'analytics'], ['ga', 'amplitude', 'mixpanel', 'gtm'], ['sql', 'r', 'python'], ['r', 'python', 'redash', 'analytics', 'bi', 'studio', 'sql', 'aws', 'quicksight', 'google', 'tableau', 'gcp'], [], [], ['sql', 'python'], [], ['sql', 'r', 'python'], [], ['amplitude', 'tableau', 'sql'], [], ['ppt', 'ms', 'excel'], ['tableau', 'bi'], ['python'], [], [], ['db', 'sql', 'python'], [], ['ga'], [], ['sql'], [], [], [], ['ms'], ['sql', 'tableau'], ['google', 'workspace'], ['ga', 'manager', 'tableau', 'mixpanel'], ['sql', 'python'], [], [], ['analytics'], [], [], ['r', 'python'], [], [], ['bi', 'tableau', 'quicksight', 'presto', 'bigquery'], ['manager'], ['sql'], [], ['manager'], ['bi', 'amplitude', 'tableau', 'sql', 'bigquery'], [], [], ['r', 'python', 'excel', 'sql', 'spreadsheet'], [], ['r', 'python'], ['amp'], ['sql'], [], ['sql'], ['r', 'studio', 'python', 'redash', 'sql'], ['r', 'python', 'appsflyer', 'redshift', 'mysql', 'sql', 'bigquery', 'pandas', 'excel', 'amplitude', 'firebase', 'google', 'analytics'], [], ['python', 'amplitude', 'db', 'sql'], [], ['ms', 'powerpoint', 'excel'], ['ms', 'powerpoint', 'excel'], ['python', 'hadoop', 'presto', 'spark', 'sql'], [], ['c', 'sql'], ['bi', 'amplitude', 'tableau', 'dash', 're', 'sql'], ['tableau', 'sql'], [], ['r', 'python', 'sql', 'bi'], ['sql', 'r', 'python'], ['amplitude', 'sql', 'firebase', 'google', 'analytics'], [], [], ['sql'], ['sql'], ['amp', 'c'], [], [], ['sql'], [], [], [], [], [], [], [], [], [], [], ['saas'], [], [], ['r', 'ga', 'python', 'excel', 'amplitude', 'sql'], ['mysql', 'r', 'python', 'excel'], [], ['ga', 'python', 'sql', 'ppt'], ['sql', 'python'], ['ga', 'sql'], ['r', 'python', 'sql'], ['r', 'python', 'sql'], ['r', 'python', 'appsflyer', 'redshift', 'mysql', 'sql', 'bigquery', 'pandas', 'excel', 'amplitude', 'firebase', 'google', 'analytics'], [], ['r', 'python', 'db', 'sql'], [], [], ['sql', 'bi'], ['studio', 'ga', 'python', 'google', 'tableau', 'sql', 'bi'], ['google', 'sql', 'bi'], [], [], [], ['aws', 'tableau', 'quicksight', 'redash', 'sql', 'gcp', 'bi'], [], ['c'], ['tableau', 'redash', 'sql', 'bi'], [], ['sql'], ['java', 'python'], ['r', 'python', 'java', 'sql'], ['sql', 'r', 'python'], [], [], ['sql', 'r', 'python'], ['bi', 'da', 'tableau', 'redash', 'sql'], ['amp', 'excel', 'ms', 'powerpoint'], [], ['sql', 'python'], ['rdbms', 'studio', 'sql', 'google', 'tableau', 'quicksight', 'bi'], [], ['ga'], [], ['sql'], [], [], [], ['r', 'amp', 'python', 'db'], ['excel', 'powerpoint'], [], [], [], [], [], ['ppt', 'ms', 'excel'], [], [], ['excel', 'zeplin', 'ppt'], [], ['r', 'python', 'sql', 'google', 'analytics'], [], ['python', 'mysql', 'sql'], ['sql', 'python'], [], [], [], ['sql'], [], [], [], ['spark', 'sql', 'python'], ['r', 'python', 'tableau', 'sql'], [], [], [], [], ['r', 'python', 'sql', 'google', 'tableau', 'quicksight', 'analytics', 'bigquery'], [], [], [], ['tableau', 'bi'], ['amp', 'da', 'amplitude', 'sql', 'google', 'firebase', 'analytics'], ['amp', 'da', 'amplitude', 'sql', 'google', 'firebase', 'analytics'], [], ['oa'], [], [], ['tableau', 'analytics'], ['studio', 'ga', 'amplitude', 'firebase', 'tableau', 'google'], ['excel'], [], ['aws', 'sql', 'gcp'], ['python', 'sql', 'analytics'], [], ['sql', 'r', 'amp', 'python'], [], ['adobe', 'analytics', 'google'], ['sql', 'tableau', 'bi'], ['bi', 'amp', 'sql', 'excel', 'tableau'], [], ['bi', 'amp', 'excel', 'sql', 'tableau'], ['bi', 'amp', 'sql', 'excel', 'tableau'], ['amp', 'aws', 'cloud', 'gcp'], ['r', 'amp', 'figma'], ['sql', 'r', 'python'], [], [], [], [], [], ['notion', 'ppt', 'google'], [], ['google', 'ms'], ['sql', 'ga'], [], [], [], [], [], [], [], ['ms'], [], [], [], ['airbridge', 'firebase', 'tableau'], [], [], ['sketch', 'figma'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['zeplin', 'figma'], [], [], [], [], [], [], [], ['google', 'ms'], [], [], ['manager'], ['jira', 'slack', 'google', 'trello', 'workspace'], [], [], [], [], [], [], ['manager'], [], [], [], [], [], ['excel', 'ppt'], [], ['manager'], [], [], [], [], ['jira', 'sketch', 'slack', 'google', 'figma', 'notion'], [], [], [], [], [], [], [], [], [], ['manager'], [], [], ['sql'], [], [], [], [], ['c', 'sql'], [], [], ['figma', 'ga'], ['figma', 'ga'], [], [], ['jira', 'figma'], [], [], [], [], [], [], [], [], [], ['c'], [], [], [], [], ['amp'], [], [], [], ['amp'], [], [], [], ['saas'], [], [], ['figma'], ['c'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['c'], ['ppt', 'figma'], [], [], ['manager'], [], [], ['cloud', 'jira'], ['manager', 'c'], ['manager'], [], [], [], [], [], [], ['sketch', 'slack', 'google', 'figma', 'notion'], [], [], [], ['r', 'amp'], [], ['manager'], [], ['ppt', 'ms', 'excel'], [], [], [], [], [], [], [], [], [], [], [], [], ['sql'], [], [], [], [], [], [], [], ['ms'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['amp'], [], [], [], [], ['slack', 'figma'], [], ['gtm'], ['firebase', 'google', 'analytics'], [], [], ['excel', 'google', 'oa', 'spreadsheet'], ['excel', 'spreadsheet', 'google', 'oa'], [], [], [], [], [], [], ['jira', 'ga', 'amplitude', 'trello'], [], ['manager', 'amplitude', 'google', 'mixpanel', 'analytics'], ['r', 'amp', 'figma', 'axure'], ['c'], ['figma'], [], [], [], [], [], [], [], ['manager', 'sql'], ['c'], [], ['c'], [], ['ppt'], ['ppt'], [], [], [], [], [], [], [], [], [], ['sql'], [], ['sql'], [], [], ['manager'], [], [], [], [], [], [], ['r', 'amp', 'figma', 'axure'], [], ['ppt'], [], [], [], ['r', 'python'], ['pytorch', 'python', 'git'], ['r', 'tensorflow', 'pytorch', 'python', 'kubernetes', 'docker', 'sql', 'scala', 'gcp'], [], ['sql', 'python', 'bi'], [], ['r', 'python', 'sql'], ['python'], ['r', 'python', 'sql', 'scala', 'bi'], ['keras', 'tensorflow'], ['numpy', 'tensorflow', 'python'], ['c'], ['tensorflow', 'hive', 'pytorch', 'python', 'hadoop', 'spark', 'sql'], ['pytorch'], ['r', 'tensorflow', 'pytorch', 'python', 'sql'], ['python', 'go'], ['numpy', 'tensorflow', 'pytorch', 'pandas', 'python', 'c', 'java'], ['mlops'], [], ['python', 'sql'], ['ms'], ['r', 'python', 'sql', 'saas'], ['sql'], [], ['python', 'kubernetes', 'shell', 'git', 'docker'], ['tensorflow', 'pytorch', 'python'], ['r', 'python'], ['tensorflow', 'pytorch', 'keras'], ['tensorflow', 'pytorch', 'python'], ['python', 'java'], ['tensorflow', 'pytorch'], ['r', 'python'], ['r', 'python', 'sql'], ['r', 'tensorflow', 'pytorch', 'hive', 'python', 'hadoop', 'spark', 'sql'], ['tableau', 'sql'], ['keras', 'tensorflow', 'pytorch'], ['keras', 'tensorflow', 'pytorch'], [], ['tensorflow', 'pytorch', 'keras'], ['tensorflow', 'pytorch', 'keras'], ['tensorflow', 'pytorch', 'python', 'sql'], [], ['rdb', 'sql'], ['nodejs'], [], ['pytorch'], ['sql', 'r', 'python'], ['pytorch'], ['pytorch'], ['r', 'studio', 'python', 'excel', 'google', 'tableau', 'ms', 'sql'], ['ga', 'google', 'gtm', 'sql', 'spreadsheet'], ['r', 'python'], ['pytorch', 'python', 'sql', 'scala'], ['pytorch', 'python', 'sql'], ['aws', 'python', 'go', 'java', 'scala', 'gcp'], [], ['amp'], [], ['aws', 'python', 'airflow', 'java', 'cloud', 'sql'], ['rdbms', 'mysql'], ['elasticsearch', 'jupyter', 'python', 'mongodb', 'postgresql', 'sql', 'bigquery', 'tensorflow', 'pytorch', 'aws', 'pandas', 'google', 'keras', 'analytics', 'gcp'], ['python', 'sql'], ['sql', 'python'], ['numpy', 'pandas', 'python'], ['sql', 'python'], ['r', 'python', 'sql', 'tableau'], ['elasticsearch', 'mongodb', 'jira', 'kafka', 'redshift', 'mysql', 'spark', 'sql', 'slack', 'aws', 'airflow', 'git', 'db'], ['docker', 'jira', 'nodejs', 'slack', 'aws', 'git', 'java'], ['matlab', 'r'], ['matlab', 'r', 'tensorflow', 'pytorch', 'keras', 'python', 'pandas', 'java'], ['excel', 'google', 'sql', 'bigquery'], ['sql'], ['sql'], ['tensorflow', 'python', 'keras'], ['amp', 'db', 'mysql'], ['studio', 'python', 'tableau', 'sql', 'bi'], ['tableau', 'sql', 'analytics', 'excel'], ['r', 'tensorflow', 'pytorch', 'python'], ['sql', 'r', 'python'], [], ['sql', 'python'], [], ['python', 'tableau', 'sql'], ['gcp', 'aws'], ['excel'], ['numpy', 'pandas', 'python'], ['db', 'cloud', 'mysql', 'sql'], ['tensorflow', 'python'], ['sql'], ['git', 'sql'], ['numpy', 'mariadb', 'aws', 'pandas', 'flask', 'django', 'fastapi', 'gcp'], ['python'], ['tensorflow', 'pytorch'], [], ['linux', 'java'], ['rdbms', 'linux', 'db'], ['rdbms'], ['tensorflow', 'pytorch', 'python', 'keras', 'sql'], ['tensorflow', 'python', 'go', 'c', 'java', 'scala'], [], ['linux', 'java'], ['db'], [], ['python', 'mysql'], ['r', 'python', 'aws', 'java', 'sql', 'scala', 'gcp'], [], ['keras', 'tensorflow', 'pytorch'], ['tensorflow', 'pytorch', 'python', 'keras'], [], ['sql', 'python', 'bi'], ['sql', 'r', 'python'], ['sql', 'tensorflow', 'tableau', 'python'], [], ['python', 'sql'], ['rdbms', 'nosql'], [], ['tensorflow', 'pytorch', 'python'], [], ['pytorch', 'cpython'], ['numpy', 'pandas', 'python'], ['numpy', 'tensorflow', 'pytorch', 'python', 'pandas', 'git'], ['python'], ['keras', 'tensorflow', 'pytorch', 'python'], ['keras', 'tensorflow', 'pytorch', 'python'], ['elasticsearch', 'aws', 'python', 'sql'], ['r', 'pytorch', 'python'], [], [], [], ['matlab', 'r', 'tensorflow', 'python'], ['python', 'bigquery', 'airflow', 'hadoop', 'java', 'spark', 'sql', 'scala'], [], [], ['aws', 'python', 'hadoop', 'presto', 'java', 'spark', 'scala', 'gcp'], ['tensorflow', 'pytorch', 'sql'], [], [], ['tensorflow', 'pytorch'], ['bi'], ['tableau'], ['python'], [], ['airflow', 'sql', 'bi'], ['tensorflow', 'pytorch'], [], [], [], [], [], ['sql', 'redash', 'tableau', 'bi'], ['sql', 'python'], [], ['tensorflow', 'pytorch', 'python'], [], [], [], ['kafka', 'python', 'hadoop', 'java', 'spark', 'scala'], ['python', 'tensorflow', 'pytorch'], ['python', 'powerpoint', 'spark', 'ms', 'tableau', 'analytics'], [], [], ['python'], ['studio', 'google', 'tableau', 'sql', 'bi'], ['sql', 'python'], ['ms', 'tableau', 'sql'], ['mysql', 'sql', 'db'], ['tensorflow', 'elasticsearch', 'pytorch', 'r', 'python', 'linux', 'hadoop', 'docker'], [], ['scala', 'java', 'python'], ['hive', 'python', 'hadoop', 'java', 'spark', 'sql'], ['elasticsearch'], ['kafka'], ['spark'], ['aws', 'flask', 'django', 'cloud'], ['python'], [], ['python'], ['sql'], ['sql', 'nosql'], ['tensorflow', 'pytorch'], ['tensorflow', 'pytorch', 'pandas', 'keras'], ['r', 'python'], ['sql', 'r', 'python'], ['r', 'sql'], [], ['db'], [], ['linux', 'db'], ['google', 'sql', 'bigquery', 'analytics'], ['python', 'shell', 'mysql', 'sql'], [], [], [], ['python'], [], ['python'], ['git', 'docker', 'python'], ['docker', 'python', 'git'], ['tensorflow', 'pytorch'], ['tensorflow', 'pytorch', 'python', 'linux'], [], ['matlab', 'r', 'apache', 'spark'], [], ['nodejs', 'python', 'hadoop', 'java'], ['python', 'shell', 'cloud', 'aws'], ['r', 'python'], ['keras', 'tensorflow', 'pytorch'], ['python', 'db', 'c', 'rdb', 'git', 'java', 'docker'], [], ['r', 'python', 'sql'], ['matlab', 'r', 'hive', 'python', 'pandas', 'hadoop', 'spark', 'sql'], ['bi'], ['r', 'python', 'ms'], ['python', 'java'], ['angular', 'git', 'typescript', 'html'], ['python'], ['sql', 'r', 'python'], ['python', 'airflow', 'git', 'sql', 'scala'], ['tensorflow', 'pytorch

In [12]:
################### 이제 일부 같은 의미의 단어를 하나로 통일시킬 방법 생각해야 함!########################
## manager, gtm, tag  => google tag manager
## ga, analytics => google analytics
## powerpoint, ppt => ppt
## tracker => app tracker
## re, dash => redash
## es => elasticsearch
## studio => google data studio

In [13]:
## 이것저것 해보고 안되고..(왜 안되지?)
## 일단 아래 방법이 성공했는데, 더 좋은 방법을 찾고싶다....

for x in result:
    for i in range(len(x)):
        x[i] = re.sub('manager', 'gtm', x[i])
        x[i] = re.sub('tag', 'gtm', x[i])
        x[i] = re.sub('powerpoint', 'ppt',x[i])
        x[i] = re.sub('tracker', 'Apptracker',x[i])
        x[i] = re.sub('^re$', 'redash',x[i])
        x[i] = re.sub('dash', 'redash',x[i])
        x[i] = re.sub('^es$', 'elasticsearch',x[i])
        x[i] = re.sub('^analytics', 'ga',x[i])
        x[i] = re.sub('^studio', 'datastudio',x[i])
        
print(result)

[['tensorflow', 'python', 'keras', 'mlops'], ['amp', 'aws', 'python', 'git', 'docker'], ['elasticsearch', 'c', 'git', 'java', 'mongodb', 'nosql'], ['node', 'elasticsearch'], ['tensorflow', 'pytorch', 'python', 'go', 'kotlin', 'java', 'keras', 'scala'], ['java'], ['python', 'c'], [], [], ['sql', 'python'], ['amp'], ['python', 'ga', 'amplitude', 'airflow'], ['node', 'flask', 'django', 'fastapi', 'sql', 'nosql'], ['python', 'airflow', 'java', 'db', 'sql', 'scala'], [], [], ['tensorflow', 'pytorch', 'python', 'shell', 'c', 'java'], ['sql'], ['node', 'mongodb'], ['tensorflow', 'r', 'pytorch', 'pandas', 'python', 'spark', 'sql'], ['aws', 'python', 'go', 'java', 'scala'], ['sql'], ['kafka', 'hive', 'python', 'hadoop', 'presto', 'spark', 'sql'], ['python', 'airflow', 'java', 'db', 'sql', 'scala'], ['spark'], ['jupyter', 'python', 'aws', 'gcp'], ['ms', 'c', 'tableau', 'java', 'sql', 'bi'], ['python'], ['tensorflow', 'pytorch'], ['python', 'go', 'linux', 'java', 'sql', 'scala'], [], ['aws', 'pandas', 'python', 'gcp'], ['rdbms', 'nosql', 'aws', 'python'], [], ['html'], ['kafka', 'devops', 'python', 'git', 'hadoop', 'java', 'spark', 'scala'], ['python', 'airflow', 'hadoop', 'sql'], ['devops', 'python', 'apache', 'hadoop', 'java', 'scala', 'mlops'], ['spark'], ['kafka', 'elasticsearch', 'python', 'linux', 'java'], ['rdbms', 'postgresql', 'python', 'mysql', 'sql'], [], ['r', 'python', 'tableau', 'sql', 'scala', 'bi'], ['devops', 'python', 'postgresql', 'sql', 'db', 'mysql'], [], ['postgresql', 'mysql'], ['numpy', 'python', 'postgresql', 'hadoop', 'spark', 'pandas', 'git', 'linux', 'c'], ['matlab', 'python', 'ms'], ['python'], [], [], ['aws', 'python', 'kubernetes', 'db', 'docker', 'java', 'mongodb', 'nosql'], ['python', 'apache', 'airflow', 'spark', 'sql'], ['node', 'typescript'], ['python', 'flask', 'git', 'docker', 'django', 'fastapi'], ['rdbms', 'nosql'], [], [], [], ['rdb', 'sql', 'nosql'], ['mlops', 'python'], [], ['python', 'cloud', 'kafka', 'apache', 'spark', 'sql', 'bigquery', 'aws', 'airflow', 'mlops', 'gcp'], ['tableau', 'sql', 'bi'], ['node', 'python', 'fastapi', 'flask', 'django', 'java'], ['r', 'tensorflow', 'pytorch', 'python', 'sql'], ['elasticsearch'], ['tensorflow', 'python'], [], ['python', 'java', 'spark', 'scala'], ['python', 'java', 'sql', 'scala'], ['datastudio', 'python', 'google', 'tableau', 'reredash', 'sql', 'bi'], ['python', 'reredash', 'sql', 'bi'], ['gcp', 'kotlin', 'aws'], ['python', 'go', 'java', 'scala'], [], ['sql', 'python'], ['kafka', 'python', 'hadoop', 'java', 'spark', 'scala'], ['hadoop', 'spark'], ['kafka', 'hadoop'], ['linux'], ['r', 'tensorflow', 'pytorch', 'python'], ['sql', 'python'], ['r', 'spread', 'python', 'sheet', 'google', 'tableau'], ['python', 'c'], [], [], ['java'], [], ['aws', 'python', 'shell', 'google', 'java', 'cloud', 'scala'], ['aws', 'python', 'shell', 'google', 'java', 'cloud', 'scala'], ['aws', 'python', 'c', 'cloud', 'sql'], ['aws', 'python', 'c', 'cloud', 'sql'], ['aws', 'ms', 'db', 'sa', 'sql'], ['db', 'mysql', 'sql'], ['excel', 'ppt'], ['sql', 'python'], ['python', 'rdb', 'spark', 'sql', 'nosql'], ['node', 'mysql', 'db'], [], ['java', 'elasticsearch', 'python'], ['appsflyer', 'gtm', 'amplitude', 'google', 'gtm', 'braze', 'ga'], ['node', 'python', 'docker', 'kafka', 'sql', 'bigquery', 'scala', 'tensorflow', 'pytorch', 'kubernetes', 'airflow'], ['mysql', 'aws'], ['tensorflow', 'pytorch', 'python', 'hadoop', 'java', 'spark'], ['cloud', 'bi', 'appsflyer', 'adjust', 'aws', 'amplitude', 'ga', 'firebase', 'tableau', 'mixpanel', 'gtm', 'ga', 'gcp'], ['docker', 'tensorflow', 'pytorch'], [], ['sql', 'ms'], ['sql'], ['python', 'tensorflow', 'pytorch', 'c'], ['pytorch', 'python'], ['python', 'go', 'airflow', 'java', 'scala'], ['cloud'], ['cloud'], ['cloud'], ['elasticsearch', 'java'], ['aws', 'python', 'java', 'cloud', 'scala', 'gcp'], [], [], [], ['db', 'kotlin', 'mongodb', 'java', 'mysql'], [], ['sql'], ['tensorflow', 'pytorch', 'python', 'go', 'kotlin', 'scala'], ['jupyter', 'python', 'kubernetes', 'airflow', 'hadoop', 'java', 'spark', 'scala', 'mlops'], ['kafka', 'python', 'hadoop', 'java', 'spark', 'scala'], ['mariadb', 'db', 'mysql', 'sql'], ['python', 'hadoop', 'sql'], ['kafka', 'python', 'hadoop', 'java', 'spark', 'scala'], ['kafka', 'hive', 'python', 'kotlin', 'java', 'hadoop', 'spark', 'scala'], ['kafka', 'python', 'go', 'kotlin', 'hadoop', 'java', 'spark', 'scala'], ['sql'], ['mysql'], ['redshift', 'aws', 'python', 'hadoop', 'sql', 'bigquery', 'gcp'], [], ['rdbms', 'mariadb', 'mysql', 'nosql'], ['vue', 'angular', 'react', 'html'], ['nodejs', 'aws', 'mongodb', 'git', 'mysql', 'typescript'], ['kafka', 'hadoop', 'spark'], ['python'], [], ['hive', 'python', 'presto', 'java', 'spark', 'sql'], [], ['hive', 'python', 'hadoop', 'java', 'spark', 'sql', 'scala'], ['rdbms', 'python', 'java', 'mysql', 'sql', 'scala'], ['mlops', 'devops'], [], ['hadoop', 'mysql'], ['mongodb', 'linux', 'elasticsearch'], ['hive', 'aws', 'python', 'airflow', 'spark', 'presto', 'java', 'scala'], ['bi', 'hive', 'tableau', 'redash', 'hadoop', 'reredash', 'sql'], ['sql'], ['scala', 'java', 'python'], ['scala', 'java', 'python'], ['hive', 'tableau', 'redash', 'hadoop', 'reredash', 'sql', 'bi'], ['scala', 'java', 'python'], ['kotlin', 'java', 'scala'], ['scala', 'java', 'python'], [], ['c'], ['ga', 'amp'], [], [], ['firebase', 'ga', 'gtm'], [], ['amp'], ['ppt', 'amp', 'excel'], [], [], [], [], [], [], ['ga', 'braze', 'sql', 'saas'], [], [], [], ['appsflyer', 'amp', 'ga', 'adjust'], [], [], [], [], [], [], [], ['ga', 'amplitude', 'gtm'], [], ['sa'], ['google', 'ga', 'saas'], [], [], [], [], ['amp', 'mmp', 'gtm'], [], ['appsflyer', 'adjust'], [], [], ['ga'], ['ga'], ['ga', 'google'], ['gfa', 'ga'], [], [], [], [], ['ms', 'oa', 'spreadsheet'], [], [], ['ga', 'gtm'], ['mmp'], [], [], [], ['appsflyer', 'amp', 'ga', 'gtm'], [], ['appsflyer', 'ga', 'amplitude', 'tableau'], ['appsflyer', 'ga', 'amplitude', 'ads', 'google', 'tableau'], [], [], [], [], [], [], [], [], [], [], [], ['gtm', 'google', 'gtm', 'ga'], ['amp'], ['amp', 'excel', 'ppt'], ['ads', 'google', 'ga'], [], ['Apptracker', 'gtm', 'gtm', 'google', 'ga', 'html'], ['amplitude', 'braze'], ['ga'], [], [], [], ['google'], [], ['ga', 'ads', 'google'], ['appsflyer', 'ga', 'amplitude', 'tableau', 'braze'], ['appsflyer'], ['figma'], ['appsflyer', 'amplitude'], ['appsflyer', 'ga', 'amplitude', 'radish', 'sql'], [], [], ['saas'], [], [], ['excel'], [], [], [], ['adobe'], [], ['mixpanel', 'sql'], ['go'], [], ['amp'], [], ['appsflyer', 'adjust'], ['sql'], [], [], [], [], [], ['sa', 'gfa'], [], [], [], ['amp', 'sa', 'da'], ['google'], [], [], [], [], [], [], [], [], [], [], ['google'], [], ['sa', 'da'], [], ['ga', 'google'], [], [], [], ['appsflyer', 'ga', 'amplitude', 'sql', 'excel'], [], [], [], ['amplitude', 'braze'], ['amp'], ['da'], [], [], [], ['ga'], ['amp', 'amplitude', 'mixpanel', 'braze', 'sql', 'saas'], ['sql'], [], ['photoshop', 'premiere', 'illustrator'], [], ['ga', 'ads', 'firebase', 'google'], [], [], [], [], ['appsflyer', 'amplitude', 'mixpanel'], ['ga'], ['ga', 'airbridge', 'firebase', 'ms', 'gtm'], ['sa', 'amp', 'fixel', 'gtm', 'da', 'utm', 'google', 'ga'], [], [], [], ['ga'], ['amp'], ['amp'], [], [], [], [], ['gfa', 'da'], [], [], [], [], ['google'], [], [], [], [], ['sa', 'da', 'ga'], [], [], ['appsflyer', 'amplitude', 'ga'], [], ['ga', 'google'], ['sa', 'da', 'ms'], ['sa', 'da', 'ms'], ['sa', 'da', 'ms'], [], [], ['appsflyer', 'da', 'ga', 'airbridge', 'braze', 'sa', 'ga', 'bi'], ['da'], [], [], ['appsflyer', 'firebase', 'ga'], [], [], ['appsflyer', 'airbridge', 'google', 'sa', 'da', 'ga'], [], [], [], [], ['ga', 'google'], ['google', 'sql', 'ga'], [], ['sql'], ['ga'], ['ga'], [], [], [], ['sa', 'da'], ['ga', 'mixpanel'], [], [], [], ['python', 'sql'], [], [], [], ['braze'], [], [], [], ['braze'], [], ['sql'], ['amplitude', 'braze', 'sql'], [], [], ['appsflyer', 'ga', 'braze', 'sql'], ['sql', 'braze'], [], ['notion', 'slack'], [], [], [], [], [], ['sql', 'r', 'python'], [], ['sql'], ['r', 'excel', 'sql'], ['r', 'excel', 'sql'], ['excel', 'sql', 'r'], ['datastudio', 'python', 'tableau', 'sql', 'bi'], ['sql', 'python'], ['r', 'python', 'tableau', 'reredash', 'sql', 'saas', 'bi'], ['sql'], ['sql'], ['sql'], ['sql', 'python'], [], ['sql', 'saas'], ['sql', 'python'], [], [], ['hive', 'hue', 'hadoop', 'sql'], ['ms', 'tableau'], ['r', 'excel', 'ms', 'sql'], ['r', 'hive', 'python', 'hadoop', 'spark', 'sql'], [], ['ga'], [], [], ['sql', 'python'], ['sql'], ['sql'], [], ['sql', 'bigquery'], [], ['sql', 'r', 'python'], ['sql', 'r', 'python'], [], [], ['google', 'sql', 'bi'], ['ga', 'python', 'amplitude', 'sql', 'mixpanel', 'gtm'], ['r', 'python', 'amplitude', 'sql', 'google', 'braze', 'ga'], ['ga', 'amplitude', 'mixpanel', 'gtm'], ['sql', 'r', 'python'], ['r', 'python', 'reredash', 'ga', 'bi', 'datastudio', 'sql', 'aws', 'quicksight', 'google', 'tableau', 'gcp'], [], [], ['sql', 'python'], [], ['sql', 'r', 'python'], [], ['amplitude', 'tableau', 'sql'], [], ['ppt', 'ms', 'excel'], ['tableau', 'bi'], ['python'], [], [], ['db', 'sql', 'python'], [], ['ga'], [], ['sql'], [], [], [], ['ms'], ['sql', 'tableau'], ['google', 'workspace'], ['ga', 'gtm', 'tableau', 'mixpanel'], ['sql', 'python'], [], [], ['ga'], [], [], ['r', 'python'], [], [], ['bi', 'tableau', 'quicksight', 'presto', 'bigquery'], ['gtm'], ['sql'], [], ['gtm'], ['bi', 'amplitude', 'tableau', 'sql', 'bigquery'], [], [], ['r', 'python', 'excel', 'sql', 'spreadsheet'], [], ['r', 'python'], ['amp'], ['sql'], [], ['sql'], ['r', 'datastudio', 'python', 'reredash', 'sql'], ['r', 'python', 'appsflyer', 'redshift', 'mysql', 'sql', 'bigquery', 'pandas', 'excel', 'amplitude', 'firebase', 'google', 'ga'], [], ['python', 'amplitude', 'db', 'sql'], [], ['ms', 'ppt', 'excel'], ['ms', 'ppt', 'excel'], ['python', 'hadoop', 'presto', 'spark', 'sql'], [], ['c', 'sql'], ['bi', 'amplitude', 'tableau', 'redash', 'reredash', 'sql'], ['tableau', 'sql'], [], ['r', 'python', 'sql', 'bi'], ['sql', 'r', 'python'], ['amplitude', 'sql', 'firebase', 'google', 'ga'], [], [], ['sql'], ['sql'], ['amp', 'c'], [], [], ['sql'], [], [], [], [], [], [], [], [], [], [], ['saas'], [], [], ['r', 'ga', 'python', 'excel', 'amplitude', 'sql'], ['mysql', 'r', 'python', 'excel'], [], ['ga', 'python', 'sql', 'ppt'], ['sql', 'python'], ['ga', 'sql'], ['r', 'python', 'sql'], ['r', 'python', 'sql'], ['r', 'python', 'appsflyer', 'redshift', 'mysql', 'sql', 'bigquery', 'pandas', 'excel', 'amplitude', 'firebase', 'google', 'ga'], [], ['r', 'python', 'db', 'sql'], [], [], ['sql', 'bi'], ['datastudio', 'ga', 'python', 'google', 'tableau', 'sql', 'bi'], ['google', 'sql', 'bi'], [], [], [], ['aws', 'tableau', 'quicksight', 'reredash', 'sql', 'gcp', 'bi'], [], ['c'], ['tableau', 'reredash', 'sql', 'bi'], [], ['sql'], ['java', 'python'], ['r', 'python', 'java', 'sql'], ['sql', 'r', 'python'], [], [], ['sql', 'r', 'python'], ['bi', 'da', 'tableau', 'reredash', 'sql'], ['amp', 'excel', 'ms', 'ppt'], [], ['sql', 'python'], ['rdbms', 'datastudio', 'sql', 'google', 'tableau', 'quicksight', 'bi'], [], ['ga'], [], ['sql'], [], [], [], ['r', 'amp', 'python', 'db'], ['excel', 'ppt'], [], [], [], [], [], ['ppt', 'ms', 'excel'], [], [], ['excel', 'zeplin', 'ppt'], [], ['r', 'python', 'sql', 'google', 'ga'], [], ['python', 'mysql', 'sql'], ['sql', 'python'], [], [], [], ['sql'], [], [], [], ['spark', 'sql', 'python'], ['r', 'python', 'tableau', 'sql'], [], [], [], [], ['r', 'python', 'sql', 'google', 'tableau', 'quicksight', 'ga', 'bigquery'], [], [], [], ['tableau', 'bi'], ['amp', 'da', 'amplitude', 'sql', 'google', 'firebase', 'ga'], ['amp', 'da', 'amplitude', 'sql', 'google', 'firebase', 'ga'], [], ['oa'], [], [], ['tableau', 'ga'], ['datastudio', 'ga', 'amplitude', 'firebase', 'tableau', 'google'], ['excel'], [], ['aws', 'sql', 'gcp'], ['python', 'sql', 'ga'], [], ['sql', 'r', 'amp', 'python'], [], ['adobe', 'ga', 'google'], ['sql', 'tableau', 'bi'], ['bi', 'amp', 'sql', 'excel', 'tableau'], [], ['bi', 'amp', 'excel', 'sql', 'tableau'], ['bi', 'amp', 'sql', 'excel', 'tableau'], ['amp', 'aws', 'cloud', 'gcp'], ['r', 'amp', 'figma'], ['sql', 'r', 'python'], [], [], [], [], [], ['notion', 'ppt', 'google'], [], ['google', 'ms'], ['sql', 'ga'], [], [], [], [], [], [], [], ['ms'], [], [], [], ['airbridge', 'firebase', 'tableau'], [], [], ['sketch', 'figma'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['zeplin', 'figma'], [], [], [], [], [], [], [], ['google', 'ms'], [], [], ['gtm'], ['jira', 'slack', 'google', 'trello', 'workspace'], [], [], [], [], [], [], ['gtm'], [], [], [], [], [], ['excel', 'ppt'], [], ['gtm'], [], [], [], [], ['jira', 'sketch', 'slack', 'google', 'figma', 'notion'], [], [], [], [], [], [], [], [], [], ['gtm'], [], [], ['sql'], [], [], [], [], ['c', 'sql'], [], [], ['figma', 'ga'], ['figma', 'ga'], [], [], ['jira', 'figma'], [], [], [], [], [], [], [], [], [], ['c'], [], [], [], [], ['amp'], [], [], [], ['amp'], [], [], [], ['saas'], [], [], ['figma'], ['c'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['c'], ['ppt', 'figma'], [], [], ['gtm'], [], [], ['cloud', 'jira'], ['gtm', 'c'], ['gtm'], [], [], [], [], [], [], ['sketch', 'slack', 'google', 'figma', 'notion'], [], [], [], ['r', 'amp'], [], ['gtm'], [], ['ppt', 'ms', 'excel'], [], [], [], [], [], [], [], [], [], [], [], [], ['sql'], [], [], [], [], [], [], [], ['ms'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['amp'], [], [], [], [], ['slack', 'figma'], [], ['gtm'], ['firebase', 'google', 'ga'], [], [], ['excel', 'google', 'oa', 'spreadsheet'], ['excel', 'spreadsheet', 'google', 'oa'], [], [], [], [], [], [], ['jira', 'ga', 'amplitude', 'trello'], [], ['gtm', 'amplitude', 'google', 'mixpanel', 'ga'], ['r', 'amp', 'figma', 'axure'], ['c'], ['figma'], [], [], [], [], [], [], [], ['gtm', 'sql'], ['c'], [], ['c'], [], ['ppt'], ['ppt'], [], [], [], [], [], [], [], [], [], ['sql'], [], ['sql'], [], [], ['gtm'], [], [], [], [], [], [], ['r', 'amp', 'figma', 'axure'], [], ['ppt'], [], [], [], ['r', 'python'], ['pytorch', 'python', 'git'], ['r', 'tensorflow', 'pytorch', 'python', 'kubernetes', 'docker', 'sql', 'scala', 'gcp'], [], ['sql', 'python', 'bi'], [], ['r', 'python', 'sql'], ['python'], ['r', 'python', 'sql', 'scala', 'bi'], ['keras', 'tensorflow'], ['numpy', 'tensorflow', 'python'], ['c'], ['tensorflow', 'hive', 'pytorch', 'python', 'hadoop', 'spark', 'sql'], ['pytorch'], ['r', 'tensorflow', 'pytorch', 'python', 'sql'], ['python', 'go'], ['numpy', 'tensorflow', 'pytorch', 'pandas', 'python', 'c', 'java'], ['mlops'], [], ['python', 'sql'], ['ms'], ['r', 'python', 'sql', 'saas'], ['sql'], [], ['python', 'kubernetes', 'shell', 'git', 'docker'], ['tensorflow', 'pytorch', 'python'], ['r', 'python'], ['tensorflow', 'pytorch', 'keras'], ['tensorflow', 'pytorch', 'python'], ['python', 'java'], ['tensorflow', 'pytorch'], ['r', 'python'], ['r', 'python', 'sql'], ['r', 'tensorflow', 'pytorch', 'hive', 'python', 'hadoop', 'spark', 'sql'], ['tableau', 'sql'], ['keras', 'tensorflow', 'pytorch'], ['keras', 'tensorflow', 'pytorch'], [], ['tensorflow', 'pytorch', 'keras'], ['tensorflow', 'pytorch', 'keras'], ['tensorflow', 'pytorch', 'python', 'sql'], [], ['rdb', 'sql'], ['nodejs'], [], ['pytorch'], ['sql', 'r', 'python'], ['pytorch'], ['pytorch'], ['r', 'datastudio', 'python', 'excel', 'google', 'tableau', 'ms', 'sql'], ['ga', 'google', 'gtm', 'sql', 'spreadsheet'], ['r', 'python'], ['pytorch', 'python', 'sql', 'scala'], ['pytorch', 'python', 'sql'], ['aws', 'python', 'go', 'java', 'scala', 'gcp'], [], ['amp'], [], ['aws', 'python', 'airflow', 'java', 'cloud', 'sql'], ['rdbms', 'mysql'], ['elasticsearch', 'jupyter', 'python', 'mongodb', 'postgresql', 'sql', 'bigquery', 'tensorflow', 'pytorch', 'aws', 'pandas', 'google', 'keras', 'ga', 'gcp'], ['python', 'sql'], ['sql', 'python'], ['numpy', 'pandas', 'python'], ['sql', 'python'], ['r', 'python', 'sql', 'tableau'], ['elasticsearch', 'mongodb', 'jira', 'kafka', 'redshift', 'mysql', 'spark', 'sql', 'slack', 'aws', 'airflow', 'git', 'db'], ['docker', 'jira', 'nodejs', 'slack', 'aws', 'git', 'java'], ['matlab', 'r'], ['matlab', 'r', 'tensorflow', 'pytorch', 'keras', 'python', 'pandas', 'java'], ['excel', 'google', 'sql', 'bigquery'], ['sql'], ['sql'], ['tensorflow', 'python', 'keras'], ['amp', 'db', 'mysql'], ['datastudio', 'python', 'tableau', 'sql', 'bi'], ['tableau', 'sql', 'ga', 'excel'], ['r', 'tensorflow', 'pytorch', 'python'], ['sql', 'r', 'python'], [], ['sql', 'python'], [], ['python', 'tableau', 'sql'], ['gcp', 'aws'], ['excel'], ['numpy', 'pandas', 'python'], ['db', 'cloud', 'mysql', 'sql'], ['tensorflow', 'python'], ['sql'], ['git', 'sql'], ['numpy', 'mariadb', 'aws', 'pandas', 'flask', 'django', 'fastapi', 'gcp'], ['python'], ['tensorflow', 'pytorch'], [], ['linux', 'java'], ['rdbms', 'linux', 'db'], ['rdbms'], ['tensorflow', 'pytorch', 'python', 'keras', 'sql'], ['tensorflow', 'python', 'go', 'c', 'java', 'scala'], [], ['linux', 'java'], ['db'], [], ['python', 'mysql'], ['r', 'python', 'aws', 'java', 'sql', 'scala', 'gcp'], [], ['keras', 'tensorflow', 'pytorch'], ['tensorflow', 'pytorch', 'python', 'keras'], [], ['sql', 'python', 'bi'], ['sql', 'r', 'python'], ['sql', 'tensorflow', 'tableau', 'python'], [], ['python', 'sql'], ['rdbms', 'nosql'], [], ['tensorflow', 'pytorch', 'python'], [], ['pytorch', 'cpython'], ['numpy', 'pandas', 'python'], ['numpy', 'tensorflow', 'pytorch', 'python', 'pandas', 'git'], ['python'], ['keras', 'tensorflow', 'pytorch', 'python'], ['keras', 'tensorflow', 'pytorch', 'python'], ['elasticsearch', 'aws', 'python', 'sql'], ['r', 'pytorch', 'python'], [], [], [], ['matlab', 'r', 'tensorflow', 'python'], ['python', 'bigquery', 'airflow', 'hadoop', 'java', 'spark', 'sql', 'scala'], [], [], ['aws', 'python', 'hadoop', 'presto', 'java', 'spark', 'scala', 'gcp'], ['tensorflow', 'pytorch', 'sql'], [], [], ['tensorflow', 'pytorch'], ['bi'], ['tableau'], ['python'], [], ['airflow', 'sql', 'bi'], ['tensorflow', 'pytorch'], [], [], [], [], [], ['sql', 'reredash', 'tableau', 'bi'], ['sql', 'python'], [], ['tensorflow', 'pytorch', 'python'], [], [], [], ['kafka', 'python', 'hadoop', 'java', 'spark', 'scala'], ['python', 'tensorflow', 'pytorch'], ['python', 'ppt', 'spark', 'ms', 'tableau', 'ga'], [], [], ['python'], ['datastudio', 'google', 'tableau', 'sql', 'bi'], ['sql', 'python'], ['ms', 'tableau', 'sql'], ['mysql', 'sql', 'db'], ['tensorflow', 'elasticsearch', 'pytorch', 'r', 'python', 'linux', 'hadoop', 'docker'], [], ['scala', 'java', 'python'], ['hive', 'python', 'hadoop', 'java', 'spark', 'sql'], ['elasticsearch'], ['kafka'], ['spark'], ['aws', 'flask', 'django', 'cloud'], ['python'], [], ['python'], ['sql'], ['sql', 'nosql'], ['tensorflow', 'pytorch'], ['tensorflow', 'pytorch', 'pandas', 'keras'], ['r', 'python'], ['sql', 'r', 'python'], ['r', 'sql'], [], ['db'], [], ['linux', 'db'], ['google', 'sql', 'bigquery', 'ga'], ['python', 'shell', 'mysql', 'sql'], [], [], [], ['python'], [], ['python'], ['git', 'docker', 'python'], ['docker', 'python', 'git'], ['tensorflow', 'pytorch'], ['tensorflow', 'pytorch', 'python', 'linux'], [], ['matlab', 'r', 'apache', 'spark'], [], ['nodejs', 'python', 'hadoop', 'java'], ['python', 'shell', 'cloud', 'aws'], ['r', 'python'], ['keras', 'tensorflow', 'pytorch'], ['python', 'db', 'c', 'rdb', 'git', 'java', 'docker'], [], ['r', 'python', 'sql'], ['matlab', 'r', 'hive', 'python', 'pandas', 'hadoop', 'spark', 'sql'], ['bi'], ['r', 'python', 'ms'], ['python', 'java'], ['angular', 'git', 'typescript', 'html'], ['python'], ['sql', 'r', 'python'], ['python', 'airflow', 'git', 'sql', 'scala'], ['tensorflow', 'pytorch', 'python', 'tableau', 'sql'], ['mysql', 'sql', 'db'], ['tensorflow', 'pytorch', 'python'], [], ['python', 'sql', 'nosql', 'bi'], ['c'], ['r'], ['sql', 'r', 'python'], ['mlops'], [], ['tensorflow', 'pytorch'], ['tensorflow', 'r', 'pytorch', 'pandas', 'python

In [14]:
## bi => BI, r -> R, mlops -> MLOps, c -> C, db -> DB, devops -> DevOps, oa -> OA
# gcp -> GCP, ms -> MS, , saas -> SAAS, gfa => GFA, amp -> AMP, nosql -> NoSQL 
## 나머지는 앞글자만 대문자로..

### 그냥 if length가 3 -> 모두 대문자, else : 앞에만 대문자

result1 = []
for x in result:
    sub1 = []
    for v in x:
        if len(v) <= 3:
            v = v.upper()
            sub1.append(v)
        else :
            v = v.capitalize()
            sub1.append(v)
        sub1 = list(set(sub1))
    result1.append(sub1)
print(result1)

[['Tensorflow', 'Python', 'Mlops', 'Keras'], ['Docker', 'GIT', 'AWS', 'Python', 'AMP'], ['Nosql', 'Mongodb', 'GIT', 'C', 'Elasticsearch', 'Java'], ['Elasticsearch', 'Node'], ['Tensorflow', 'Scala', 'Pytorch', 'GO', 'Java', 'Keras', 'Python', 'Kotlin'], ['Java'], ['C', 'Python'], [], [], ['Python', 'SQL'], ['AMP'], ['Airflow', 'Amplitude', 'Python', 'GA'], ['SQL', 'Django', 'Nosql', 'Fastapi', 'Flask', 'Node'], ['SQL', 'DB', 'Scala', 'Airflow', 'Java', 'Python'], [], [], ['Tensorflow', 'Shell', 'C', 'Pytorch', 'Java', 'Python'], ['SQL'], ['Mongodb', 'Node'], ['R', 'Tensorflow', 'SQL', 'Spark', 'Pandas', 'Pytorch', 'Python'], ['Scala', 'GO', 'AWS', 'Java', 'Python'], ['SQL'], ['SQL', 'Spark', 'Hive', 'Kafka', 'Presto', 'Python', 'Hadoop'], ['SQL', 'DB', 'Scala', 'Airflow', 'Java', 'Python'], ['Spark'], ['AWS', 'Python', 'GCP', 'Jupyter'], ['MS', 'BI', 'SQL', 'Tableau', 'C', 'Java'], ['Python'], ['Tensorflow', 'Pytorch'], ['SQL', 'Scala', 'GO', 'Java', 'Python', 'Linux'], [], ['AWS', 'Pandas', 'Python', 'GCP'], ['Nosql', 'Python', 'Rdbms', 'AWS'], [], ['Html'], ['Devops', 'Spark', 'Scala', 'GIT', 'Kafka', 'Java', 'Python', 'Hadoop'], ['Airflow', 'Python', 'SQL', 'Hadoop'], ['Devops', 'Scala', 'Mlops', 'Apache', 'Java', 'Python', 'Hadoop'], ['Spark'], ['Kafka', 'Elasticsearch', 'Java', 'Python', 'Linux'], ['SQL', 'Rdbms', 'Python', 'Mysql', 'Postgresql'], [], ['R', 'BI', 'SQL', 'Scala', 'Tableau', 'Python'], ['Devops', 'SQL', 'DB', 'Python', 'Mysql', 'Postgresql'], [], ['Mysql', 'Postgresql'], ['Spark', 'Numpy', 'Pandas', 'GIT', 'C', 'Python', 'Postgresql', 'Linux', 'Hadoop'], ['Matlab', 'MS', 'Python'], ['Python'], [], [], ['DB', 'Docker', 'Nosql', 'Mongodb', 'AWS', 'Java', 'Kubernetes', 'Python'], ['SQL', 'Spark', 'Airflow', 'Apache', 'Python'], ['Typescript', 'Node'], ['Django', 'Docker', 'GIT', 'Fastapi', 'Flask', 'Python'], ['Nosql', 'Rdbms'], [], [], [], ['RDB', 'SQL', 'Nosql'], ['Python', 'Mlops'], [], ['SQL', 'Spark', 'Mlops', 'Kafka', 'Cloud', 'Apache', 'Airflow', 'AWS', 'Python', 'Bigquery', 'GCP'], ['BI', 'Tableau', 'SQL'], ['Django', 'Fastapi', 'Flask', 'Node', 'Java', 'Python'], ['R', 'Tensorflow', 'SQL', 'Pytorch', 'Python'], ['Elasticsearch'], ['Tensorflow', 'Python'], [], ['Scala', 'Java', 'Python', 'Spark'], ['Scala', 'Java', 'Python', 'SQL'], ['Reredash', 'BI', 'SQL', 'Tableau', 'Python', 'Google', 'Datastudio'], ['Reredash', 'BI', 'Python', 'SQL'], ['AWS', 'Kotlin', 'GCP'], ['Scala', 'Java', 'Python', 'GO'], [], ['Python', 'SQL'], ['Spark', 'Scala', 'Kafka', 'Java', 'Python', 'Hadoop'], ['Spark', 'Hadoop'], ['Kafka', 'Hadoop'], ['Linux'], ['R', 'Python', 'Pytorch', 'Tensorflow'], ['Python', 'SQL'], ['R', 'Sheet', 'Spread', 'Tableau', 'Python', 'Google'], ['C', 'Python'], [], [], ['Java'], [], ['Scala', 'Shell', 'Cloud', 'AWS', 'Java', 'Python', 'Google'], ['Scala', 'Shell', 'Cloud', 'AWS', 'Java', 'Python', 'Google'], ['SQL', 'C', 'Cloud', 'AWS', 'Python'], ['SQL', 'C', 'Cloud', 'AWS', 'Python'], ['MS', 'SQL', 'DB', 'SA', 'AWS'], ['Mysql', 'SQL', 'DB'], ['PPT', 'Excel'], ['Python', 'SQL'], ['SQL', 'Spark', 'Nosql', 'RDB', 'Python'], ['Mysql', 'DB', 'Node'], [], ['Java', 'Python', 'Elasticsearch'], ['Braze', 'Appsflyer', 'Amplitude', 'GTM', 'Google', 'GA'], ['Tensorflow', 'SQL', 'Docker', 'Scala', 'Kafka', 'Airflow', 'Pytorch', 'Node', 'Kubernetes', 'Bigquery', 'Python'], ['AWS', 'Mysql'], ['Tensorflow', 'Spark', 'Pytorch', 'Java', 'Python', 'Hadoop'], ['BI', 'Firebase', 'Adjust', 'Tableau', 'Appsflyer', 'Amplitude', 'Cloud', 'AWS', 'GTM', 'Mixpanel', 'GA', 'GCP'], ['Tensorflow', 'Pytorch', 'Docker'], [], ['MS', 'SQL'], ['SQL'], ['C', 'Tensorflow', 'Python', 'Pytorch'], ['Python', 'Pytorch'], ['Scala', 'Airflow', 'GO', 'Java', 'Python'], ['Cloud'], ['Cloud'], ['Cloud'], ['Java', 'Elasticsearch'], ['Scala', 'Cloud', 'AWS', 'Java', 'Python', 'GCP'], [], [], [], ['DB', 'Mongodb', 'Java', 'Mysql', 'Kotlin'], [], ['SQL'], ['Tensorflow', 'Scala', 'Pytorch', 'GO', 'Python', 'Kotlin'], ['Spark', 'Scala', 'Hadoop', 'Mlops', 'Airflow', 'Java', 'Kubernetes', 'Python', 'Jupyter'], ['Spark', 'Scala', 'Kafka', 'Java', 'Python', 'Hadoop'], ['Mysql', 'SQL', 'DB', 'Mariadb'], ['Python', 'SQL', 'Hadoop'], ['Spark', 'Scala', 'Kafka', 'Java', 'Python', 'Hadoop'], ['Spark', 'Scala', 'Hive', 'Kafka', 'Java', 'Python', 'Kotlin', 'Hadoop'], ['Spark', 'Scala', 'Kafka', 'GO', 'Java', 'Python', 'Kotlin', 'Hadoop'], ['SQL'], ['Mysql'], ['GCP', 'SQL', 'Redshift', 'AWS', 'Python', 'Bigquery', 'Hadoop'], [], ['Nosql', 'Mysql', 'Rdbms', 'Mariadb'], ['VUE', 'Angular', 'React', 'Html'], ['Nodejs', 'Mongodb', 'GIT', 'AWS', 'Typescript', 'Mysql'], ['Kafka', 'Spark', 'Hadoop'], ['Python'], [], ['SQL', 'Spark', 'Hive', 'Java', 'Presto', 'Python'], [], ['SQL', 'Spark', 'Scala', 'Hive', 'Java', 'Python', 'Hadoop'], ['SQL', 'Scala', 'Rdbms', 'Java', 'Python', 'Mysql'], ['Devops', 'Mlops'], [], ['Mysql', 'Hadoop'], ['Mongodb', 'Linux', 'Elasticsearch'], ['Spark', 'Scala', 'Hive', 'Airflow', 'AWS', 'Java', 'Presto', 'Python'], ['Reredash', 'BI', 'SQL', 'Tableau', 'Hive', 'Redash', 'Hadoop'], ['SQL'], ['Scala', 'Java', 'Python'], ['Scala', 'Java', 'Python'], ['Reredash', 'BI', 'SQL', 'Tableau', 'Hive', 'Redash', 'Hadoop'], ['Scala', 'Java', 'Python'], ['Scala', 'Java', 'Kotlin'], ['Scala', 'Java', 'Python'], [], ['C'], ['AMP', 'GA'], [], [], ['GTM', 'Firebase', 'GA'], [], ['AMP'], ['PPT', 'Excel', 'AMP'], [], [], [], [], [], [], ['Saas', 'SQL', 'GA', 'Braze'], [], [], [], ['Appsflyer', 'Adjust', 'AMP', 'GA'], [], [], [], [], [], [], [], ['Amplitude', 'GTM', 'GA'], [], ['SA'], ['Saas', 'Google', 'GA'], [], [], [], [], ['GTM', 'AMP', 'MMP'], [], ['Appsflyer', 'Adjust'], [], [], ['GA'], ['GA'], ['Google', 'GA'], ['GA', 'GFA'], [], [], [], [], ['MS', 'Spreadsheet', 'OA'], [], [], ['GTM', 'GA'], ['MMP'], [], [], [], ['Appsflyer', 'GTM', 'AMP', 'GA'], [], ['Appsflyer', 'Amplitude', 'Tableau', 'GA'], ['ADS', 'Tableau', 'Appsflyer', 'Amplitude', 'Google', 'GA'], [], [], [], [], [], [], [], [], [], [], [], ['GTM', 'Google', 'GA'], ['AMP'], ['PPT', 'Excel', 'AMP'], ['ADS', 'Google', 'GA'], [], ['Html', 'GTM', 'Google', 'Apptracker', 'GA'], ['Amplitude', 'Braze'], ['GA'], [], [], [], ['Google'], [], ['ADS', 'Google', 'GA'], ['Tableau', 'Braze', 'Appsflyer', 'Amplitude', 'GA'], ['Appsflyer'], ['Figma'], ['Appsflyer', 'Amplitude'], ['SQL', 'Radish', 'Appsflyer', 'Amplitude', 'GA'], [], [], ['Saas'], [], [], ['Excel'], [], [], [], ['Adobe'], [], ['Mixpanel', 'SQL'], ['GO'], [], ['AMP'], [], ['Appsflyer', 'Adjust'], ['SQL'], [], [], [], [], [], ['SA', 'GFA'], [], [], [], ['DA', 'AMP', 'SA'], ['Google'], [], [], [], [], [], [], [], [], [], [], ['Google'], [], ['DA', 'SA'], [], ['Google', 'GA'], [], [], [], ['SQL', 'Appsflyer', 'Amplitude', 'Excel', 'GA'], [], [], [], ['Amplitude', 'Braze'], ['AMP'], ['DA'], [], [], [], ['GA'], ['SQL', 'Saas', 'Braze', 'Amplitude', 'AMP', 'Mixpanel'], ['SQL'], [], ['Premiere', 'Photoshop', 'Illustrator'], [], ['ADS', 'Google', 'Firebase', 'GA'], [], [], [], [], ['Appsflyer', 'Amplitude', 'Mixpanel'], ['GA'], ['MS', 'Firebase', 'Airbridge', 'GTM', 'GA'], ['Google', 'SA', 'DA', 'Fixel', 'UTM', 'AMP', 'GTM', 'GA'], [], [], [], ['GA'], ['AMP'], ['AMP'], [], [], [], [], ['DA', 'GFA'], [], [], [], [], ['Google'], [], [], [], [], ['DA', 'SA', 'GA'], [], [], ['Appsflyer', 'Amplitude', 'GA'], [], ['Google', 'GA'], ['MS', 'DA', 'SA'], ['MS', 'DA', 'SA'], ['MS', 'DA', 'SA'], [], [], ['BI', 'Airbridge', 'SA', 'Braze', 'Appsflyer', 'DA', 'GA'], ['DA'], [], [], ['Appsflyer', 'Firebase', 'GA'], [], [], ['Airbridge', 'SA', 'Appsflyer', 'DA', 'Google', 'GA'], [], [], [], [], ['Google', 'GA'], ['Google', 'SQL', 'GA'], [], ['SQL'], ['GA'], ['GA'], [], [], [], ['DA', 'SA'], ['Mixpanel', 'GA'], [], [], [], ['Python', 'SQL'], [], [], [], ['Braze'], [], [], [], ['Braze'], [], ['SQL'], ['Amplitude', 'SQL', 'Braze'], [], [], ['Appsflyer', 'SQL', 'GA', 'Braze'], ['SQL', 'Braze'], [], ['Notion', 'Slack'], [], [], [], [], [], ['R', 'Python', 'SQL'], [], ['SQL'], ['R', 'Excel', 'SQL'], ['R', 'Excel', 'SQL'], ['R', 'Excel', 'SQL'], ['BI', 'SQL', 'Tableau', 'Python', 'Datastudio'], ['Python', 'SQL'], ['Reredash', 'R', 'BI', 'SQL', 'Saas', 'Tableau', 'Python'], ['SQL'], ['SQL'], ['SQL'], ['Python', 'SQL'], [], ['Saas', 'SQL'], ['Python', 'SQL'], [], [], ['SQL', 'HUE', 'Hive', 'Hadoop'], ['MS', 'Tableau'], ['R', 'Excel', 'SQL', 'MS'], ['R', 'SQL', 'Spark', 'Hive', 'Python', 'Hadoop'], [], ['GA'], [], [], ['Python', 'SQL'], ['SQL'], ['SQL'], [], ['SQL', 'Bigquery'], [], ['R', 'Python', 'SQL'], ['R', 'Python', 'SQL'], [], [], ['BI', 'Google', 'SQL'], ['SQL', 'Amplitude', 'GTM', 'Python', 'Mixpanel', 'GA'], ['R', 'SQL', 'Braze', 'Amplitude', 'Python', 'Google', 'GA'], ['Amplitude', 'Mixpanel', 'GTM', 'GA'], ['R', 'Python', 'SQL'], ['Reredash', 'R', 'BI', 'SQL', 'Tableau', 'Quicksight', 'AWS', 'Python', 'Google', 'GA', 'Datastudio', 'GCP'], [], [], ['Python', 'SQL'], [], ['R', 'Python', 'SQL'], [], ['Amplitude', 'Tableau', 'SQL'], [], ['PPT', 'Excel', 'MS'], ['BI', 'Tableau'], ['Python'], [], [], ['Python', 'SQL', 'DB'], [], ['GA'], [], ['SQL'], [], [], [], ['MS'], ['Tableau', 'SQL'], ['Google', 'Workspace'], ['GTM', 'Tableau', 'GA', 'Mixpanel'], ['Python', 'SQL'], [], [], ['GA'], [], [], ['R', 'Python'], [], [], ['BI', 'Tableau', 'Quicksight', 'Presto', 'Bigquery'], ['GTM'], ['SQL'], [], ['GTM'], ['BI', 'SQL', 'Tableau', 'Amplitude', 'Bigquery'], [], [], ['R', 'SQL', 'Spreadsheet', 'Excel', 'Python'], [], ['R', 'Python'], ['AMP'], ['SQL'], [], ['SQL'], ['Reredash', 'R', 'SQL', 'Python', 'Datastudio'], ['R', 'Mysql', 'SQL', 'Firebase', 'Pandas', 'Appsflyer', 'Amplitude', 'GA', 'Redshift', 'Excel', 'Google', 'Bigquery', 'Python'], [], ['Amplitude', 'Python', 'SQL', 'DB'], [], ['MS', 'Excel', 'PPT'], ['MS', 'Excel', 'PPT'], ['SQL', 'Spark', 'Presto', 'Python', 'Hadoop'], [], ['C', 'SQL'], ['Reredash', 'BI', 'SQL', 'Tableau', 'Amplitude', 'Redash'], ['Tableau', 'SQL'], [], ['R', 'Python', 'BI', 'SQL'], ['R', 'Python', 'SQL'], ['SQL', 'Firebase', 'Amplitude', 'Google', 'GA'], [], [], ['SQL'], ['SQL'], ['C', 'AMP'], [], [], ['SQL'], [], [], [], [], [], [], [], [], [], [], ['Saas'], [], [], ['R', 'SQL', 'Amplitude', 'Excel', 'GA', 'Python'], ['Excel', 'R', 'Python', 'Mysql'], [], ['PPT', 'Python', 'SQL', 'GA'], ['Python', 'SQL'], ['SQL', 'GA'], ['R', 'Python', 'SQL'], ['R', 'Python', 'SQL'], ['R', 'Mysql', 'SQL', 'Firebase', 'Pandas', 'Appsflyer', 'Amplitude', 'GA', 'Redshift', 'Excel', 'Google', 'Bigquery', 'Python'], [], ['R', 'Python', 'SQL', 'DB'], [], [], ['BI', 'SQL'], ['BI', 'SQL', 'Tableau', 'Python', 'Google', 'GA', 'Datastudio'], ['BI', 'Google', 'SQL'], [], [], [], ['Reredash', 'BI', 'SQL', 'Tableau', 'Quicksight', 'AWS', 'GCP'], [], ['C'], ['Reredash', 'BI', 'Tableau', 'SQL'], [], ['SQL'], ['Java', 'Python'], ['R', 'Java', 'Python', 'SQL'], ['R', 'Python', 'SQL'], [], [], ['R', 'Python', 'SQL'], ['Reredash', 'BI', 'SQL', 'Tableau', 'DA'], ['MS', 'Excel', 'AMP', 'PPT'], [], ['Python', 'SQL'], ['BI', 'SQL', 'Tableau', 'Quicksight', 'Rdbms', 'Google', 'Datastudio'], [], ['GA'], [], ['SQL'], [], [], [], ['R', 'Python', 'AMP', 'DB'], ['PPT', 'Excel'], [], [], [], [], [], ['PPT', 'Excel', 'MS'], [], [], ['PPT', 'Excel', 'Zeplin'], [], ['R', 'SQL', 'Python', 'Google', 'GA'], [], ['Python', 'Mysql', 'SQL'], ['Python', 'SQL'], [], [], [], ['SQL'], [], [], [], ['Python', 'SQL', 'Spark'], ['R', 'Python', 'Tableau', 'SQL'], [], [], [], [], ['R', 'SQL', 'Tableau', 'Quicksight', 'Python', 'Google', 'Bigquery', 'GA'], [], [], [], ['BI', 'Tableau'], ['SQL', 'Firebase', 'Amplitude', 'DA', 'AMP', 'Google', 'GA'], ['SQL', 'Firebase', 'Amplitude', 'DA', 'AMP', 'Google', 'GA'], [], ['OA'], [], [], ['Tableau', 'GA'], ['Firebase', 'Tableau', 'Amplitude', 'Google', 'GA', 'Datastudio'], ['Excel'], [], ['AWS', 'SQL', 'GCP'], ['Python', 'SQL', 'GA'], [], ['R', 'Python', 'AMP', 'SQL'], [], ['Adobe', 'Google', 'GA'], ['BI', 'Tableau', 'SQL'], ['BI', 'SQL', 'Tableau', 'Excel', 'AMP'], [], ['BI', 'SQL', 'Tableau', 'Excel', 'AMP'], ['BI', 'SQL', 'Tableau', 'Excel', 'AMP'], ['AWS', 'Cloud', 'AMP', 'GCP'], ['R', 'AMP', 'Figma'], ['R', 'Python', 'SQL'], [], [], [], [], [], ['Notion', 'PPT', 'Google'], [], ['MS', 'Google'], ['SQL', 'GA'], [], [], [], [], [], [], [], ['MS'], [], [], [], ['Airbridge', 'Tableau', 'Firebase'], [], [], ['Sketch', 'Figma'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['Zeplin', 'Figma'], [], [], [], [], [], [], [], ['MS', 'Google'], [], [], ['GTM'], ['Workspace', 'Jira', 'Trello', 'Slack', 'Google'], [], [], [], [], [], [], ['GTM'], [], [], [], [], [], ['PPT', 'Excel'], [], ['GTM'], [], [], [], [], ['Sketch', 'Jira', 'Notion', 'Slack', 'Figma', 'Google'], [], [], [], [], [], [], [], [], [], ['GTM'], [], [], ['SQL'], [], [], [], [], ['C', 'SQL'], [], [], ['GA', 'Figma'], ['GA', 'Figma'], [], [], ['Jira', 'Figma'], [], [], [], [], [], [], [], [], [], ['C'], [], [], [], [], ['AMP'], [], [], [], ['AMP'], [], [], [], ['Saas'], [], [], ['Figma'], ['C'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['C'], ['PPT', 'Figma'], [], [], ['GTM'], [], [], ['Cloud', 'Jira'], ['C', 'GTM'], ['GTM'], [], [], [], [], [], [], ['Sketch', 'Notion', 'Slack', 'Figma', 'Google'], [], [], [], ['R', 'AMP'], [], ['GTM'], [], ['PPT', 'Excel', 'MS'], [], [], [], [], [], [], [], [], [], [], [], [], ['SQL'], [], [], [], [], [], [], [], ['MS'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], ['AMP'], [], [], [], [], ['Slack', 'Figma'], [], ['GTM'], ['Google', 'Firebase', 'GA'], [], [], ['Excel', 'Google', 'Spreadsheet', 'OA'], ['Excel', 'Google', 'Spreadsheet', 'OA'], [], [], [], [], [], [], ['Trello', 'Amplitude', 'Jira', 'GA'], [], ['Mixpanel', 'Amplitude', 'GTM', 'Google', 'GA'], ['R', 'AMP', 'Figma', 'Axure'], ['C'], ['Figma'], [], [], [], [], [], [], [], ['GTM', 'SQL'], ['C'], [], ['C'], [], ['PPT'], ['PPT'], [], [], [], [], [], [], [], [], [], ['SQL'], [], ['SQL'], [], [], ['GTM'], [], [], [], [], [], [], ['R', 'AMP', 'Figma', 'Axure'], [], ['PPT'], [], [], [], ['R', 'Python'], ['Python', 'GIT', 'Pytorch'], ['R', 'Tensorflow', 'SQL', 'Docker', 'Scala', 'Pytorch', 'Kubernetes', 'Python', 'GCP'], [], ['BI', 'Python', 'SQL'], [], ['R', 'Python', 'SQL'], ['Python'], ['R', 'BI', 'SQL', 'Scala', 'Python'], ['Tensorflow', 'Keras'], ['Numpy', 'Python', 'Tensorflow'], ['C'], ['Tensorflow', 'SQL', 'Spark', 'Hive', 'Pytorch', 'Python', 'Hadoop'], ['Pytorch'], ['R', 'Tensorflow', 'SQL', 'Pytorch', 'Python'], ['Python', 'GO'], ['Tensorflow', 'Numpy', 'Pandas', 'C', 'Pytorch', 'Java', 'Python'], ['Mlops'], [], ['Python', 'SQL'], ['MS'], ['R', 'Python', 'SQL', 'Saas'], ['SQL'], [], ['Docker', 'GIT', 'Kubernetes', 'Shell', 'Python'], ['Tensorflow', 'Python', 'Pytorch'], ['R', 'Python'], ['Tensorflow', 'Pytorch', 'Keras'], ['Tensorflow', 'Python', 'Pytorch'], ['Java', 'Python'], ['Tensorflow', 'Pytorch'], ['R', 'Python'], ['R', 'Python', 'SQL'], ['R', 'Tensorflow', 'SQL', 'Spark', 'Hive', 'Pytorch', 'Python', 'Hadoop'], ['Tableau', 'SQL'], ['Tensorflow', 'Pytorch', 'Keras'], ['Tensorflow', 'Pytorch', 'Keras'], [], ['Tensorflow', 'Pytorch', 'Keras'], ['Tensorflow', 'Pytorch', 'Keras'], ['Tensorflow', 'Python', 'SQL', 'Pytorch'], [], ['RDB', 'SQL'], ['Nodejs'], [], ['Pytorch'], ['R', 'Python', 'SQL'], ['Pytorch'], ['Pytorch'], ['R', 'MS', 'SQL', 'Tableau', 'Excel', 'Google', 'Python', 'Datastudio'], ['SQL', 'GTM', 'Spreadsheet', 'Google', 'GA'], ['R', 'Python'], ['Scala', 'Python', 'SQL', 'Pytorch'], ['Python', 'SQL', 'Pytorch'], ['Scala', 'GO', 'AWS', 'Java', 'Python', 'GCP'], [], ['AMP'], [], ['SQL', 'Airflow', 'Cloud', 'AWS', 'Java', 'Python'], ['Mysql', 'Rdbms'], ['Tensorflow', 'GCP', 'SQL', 'Mongodb', 'Pandas', 'Jupyter', 'GA', 'Pytorch', 'Elasticsearch', 'AWS', 'Keras', 'Google', 'Postgresql', 'Python', 'Bigquery'], ['Python', 'SQL'], ['Python', 'SQL'], ['Numpy', 'Pandas', 'Python'], ['Python', 'SQL'], ['R', 'Python', 'Tableau', 'SQL'], ['SQL', 'Spark', 'Elasticsearch', 'DB', 'Mongodb', 'Jira', 'GIT', 'Kafka', 'Airflow', 'Slack', 'Redshift', 'AWS', 'Mysql'], ['Nodejs', 'Docker', 'Jira', 'GIT', 'Slack', 'AWS', 'Java'], ['Matlab', 'R'], ['R', 'Tensorflow', 'Matlab', 'Pandas', 'Pytorch', 'Keras', 'Java', 'Python'], ['Excel', 'Google', 'SQL', 'Bigquery'], ['SQL'], ['SQL'], ['Tensorflow', 'Python', 'Keras'], ['Mysql', 'AMP', 'DB'], ['BI', 'SQL', 'Tableau', 'Python', 'Datastudio'], ['Excel', 'Tableau', 'SQL', 'GA'], ['R', 'Python', 'Pytorch', 'Tensorflow'], ['R', 'Python', 'SQL'], [], ['Python', 'SQL'], [], ['Python', 'Tableau', 'SQL'], ['AWS', 'GCP'], ['Excel'], ['Numpy', 'Pandas', 'Python'], ['Cloud', 'Mysql', 'SQL', 'DB'], ['Tensorflow', 'Python'], ['SQL'], ['SQL', 'GIT'], ['GCP', 'Django', 'Numpy', 'Pandas', 'Fastapi', 'Flask', 'AWS', 'Mariadb'], ['Python'], ['Tensorflow', 'Pytorch'], [], ['Java', 'Linux'], ['DB', 'Linux', 'Rdbms'], ['Rdbms'], ['Tensorflow', 'SQL', 'Pytorch', 'Keras', 'Python'], ['Tensorflow', 'Scala', 'C', 'GO', 'Java', 'Python'], [], ['Java', 'Linux'], ['DB'], [], ['Python', 'Mysql'], ['R', 'SQL', 'Scala', 'AWS', 'Java', 'Python', 'GCP'], [], ['Tensorflow', 'Pytorch', 'Keras'], ['Tensorflow', 'Python', 'Pytorch', 'Keras'], [], ['BI', 'Python', 'SQL'], ['R', 'Python', 'SQL'], ['Tensorflow', 'Python', 'Tableau', 'SQL'], [], ['Python', 'SQL'], ['Nosql', 'Rdbms'], [], ['Tensorflow', 'Python', 'Pytorch'], [], ['Cpython', 'Pytorch'], ['Numpy', 'Pandas', 'Python'], ['Tensorflow', 'Numpy', 'Pandas', 'GIT', 'Pytorch', 'Python'], ['Python'], ['Tensorflow', 'Python', 'Pytorch', 'Keras'], ['Tensorflow', 'Python', 'Pytorch', 'Keras'], ['AWS', 'Python', 'SQL', 'Elasticsearch'], ['R', 'Python', 'Pytorch'], [], [], [], ['Matlab', 'R', 'Python', 'Tensorflow'], ['SQL', 'Spark', 'Scala', 'Airflow', 'Java', 'Python', 'Bigquery', 'Hadoop'], [], [], ['GCP', 'Spark', 'Scala', 'AWS', 'Java', 'Presto', 'Python', 'Hadoop'], ['Tensorflow', 'SQL', 'Pytorch'], [], [], ['Tensorflow', 'Pytorch'], ['BI'], ['Tableau'], ['Python'], [], ['Airflow', 'BI', 'SQL'], ['Tensorflow', 'Pytorch'], [], [], [], [], [], ['Reredash', 'BI', 'Tableau', 'SQL'], ['Python', 'SQL'], [], ['Tensorflow', 'Python', 'Pytorch'], [], [], [], ['Spark', 'Scala', 'Kafka', 'Java', 'Python', 'Hadoop'], ['Tensorflow', 'Python', 'Pytorch'], ['PPT', 'MS', 'Spark', 'Tableau', 'Python', 'GA'], [], [], ['Python'], ['BI', 'SQL', 'Tableau', 'Google', 'Datastudio'], ['Python', 'SQL'], ['MS', 'Tableau', 'SQL'], ['Mysql', 'SQL', 'DB'], ['R', 'Tensorflow', 'Docker', 'Pytorch', 'Elasticsearch', 'Python', 'Linux', 'Hadoop'], [], ['Scala', 'Java', 'Python'], ['SQL', 'Spark', 'Hive', 'Java', 'Python', 'Hadoop'], ['Elasticsearch'], ['Kafka'], ['Spark'], ['AWS', 'Cloud', 'Django', 'Flask'], ['Python'], [], ['Python'], ['SQL'], ['Nosql', 'SQL'], ['Tensorflow', 'Pytorch'], ['Tensorflow', 'Pandas', 'Pytorch', 'Keras'], ['R', 'Python'], ['R', 'Python', 'SQL'], ['R', 'SQL'], [], ['DB'], [], ['Linux', 'DB'], ['Google', 'SQL', 'GA', 'Bigquery'], ['Shell', 'Python', 'Mysql', 'SQL'], [], [], [], ['Python'], [], ['Python'], ['Python', 'GIT', 'Docker'], ['Python', 'GIT', 'Docker'], ['Tensorflow', 'Pytorch'], ['Tensorflow', 'Python', 'Linux', 'Pytorch'], [], ['Matlab', 'R', 'Spark', 'Apache'], [], ['Java', 'Python', 'Nodejs', 'Hadoop'], ['Shell', 'Cloud', 'Python', 'AWS'], ['R', 'Python'], ['Tensorflow', 'Pytorch', 'Keras'], ['DB', 'Docker', 'GIT', 'C', 'RDB', 'Java', 'Python'], [], ['R', 'Python', 'SQL'], ['R', 'SQL', 'Spark', 'Matlab', 'Pandas', 'Hive', 'Python', 'Hadoop'], ['BI'], ['R', 'Python', 'MS'], ['Java', 'Python'], ['Angular', 'Html', 'GIT', 'Typescript'], ['Python'], ['R', 'Python', 'SQL'], ['SQL', 'Scala', 'GIT', 'Airflow', 'Python'], ['Tensorflow', 'SQL', 'Tableau', 'Pytorch', 'Python'], ['Mysql', 'SQL', 'DB'], ['Tensorflow', 'Python', 'Pytorch'], [], ['Nosql', 'BI', 'Python', 'SQL'], ['C'], ['R'], ['R', 'Python', 'SQL'], ['Mlops'], [], ['Tensorflow', 'Pytorch'], ['R', 'Tensorflow', 'SQL', 'Spark', 'Pandas', 'Pytorch', 'Python'], ['R', 'Tensor

In [15]:
## 근데 최종 결과물이 리스트로 나와서 일단 문자열로 바뀌서 데이터 프레임에 넣기
new = []
for each in result1:
    new.append(' '.join(each))
#print(new)

df['hard_skill'] = new

In [16]:
## 현재까지 새로 만든 칼럼을 중심으로 보면(job1은 더 다듬어져야 함) 

df2 = df[['company', 'newbie', 'degree','hard_skill']]
df2.head()

     company newbie degree                                         hard_skill
0      악어디지털     경력      0                      Tensorflow Python Mlops Keras
1    수성엔지니어링     경력      0                          Docker GIT AWS Python AMP
2  아인시스에이아이랩     경력      0             Nosql Mongodb GIT C Elasticsearch Java
3       유진로봇     경력      0                                 Elasticsearch Node
4     스콥정보통신     경력      0  Tensorflow Scala Pytorch GO Java Keras Python ...

In [17]:
df3 = df[['company', 'job', 'search', 'newbie', 'degree', 'hard_skill',  'work','job_require', 'preference']]
#df3.to_excel('mildsix_1024.xlsx', index = False)

In [18]:
df3.head()

,company,job,search,newbie,degree,hard_skill,work,job_require,preference
0,악어디지털,딥러닝모델개발자,DE,경력,0,Tensorflow Python Mlops Keras,데이터분석 딥러닝 모델 훈련 및 모니터링 데이터 파이프라인 시스템 설계 ...,2년 이상 경력자 python을 이용한 프로그램 작성 경험 딥러닝 프레임...,ocr 데이터 활용 경험 스캔된 문서 처리 경험
1,수성엔지니어링,데이터 엔지니어 (python specialist),DE,경력,0,Docker GIT AWS Python AMP,python 기반으로 공간데이터 처리 알고리즘 개발 docker aws ecs...,python을 능숙하게 다룰 수 있는 개발자 객체지향 프로그래밍에 대한 충분...,slack notion github등 협업툴 사용에 익숙하신 분 no...
2,아인시스에이아이랩,data engineer,DE,경력,0,Nosql Mongodb GIT C Elasticsearch Java,데이터 분석을 위한 알고리즘 및 개발 방향과 범위를 산정해요 데이터 수집 및...,이공계 졸업 예정자 혹은 관련 경력을 보유하신 분 네트워크 애플리케이션 개...,스타트업 업무경험이 있으신 분 rust 개발 경험이 있으신 분 머신러닝 ...
3,유진로봇,개발본부 ams팀 백엔드(back-end) 개발자,DE,경력,0,Elasticsearch Node,서비스 운영에 필요한 로봇관리를 위한 소프트웨어 설계 및 개발 리소스 관리...,javascript es6 es7 사용자 database 사용 가능자...,리눅스 환경에서의 개발 익숙자 restful api 설계 경험자 ne...
4,스콥정보통신,"ai(인공지능), 빅데이터 개발자",DE,경력,0,Tensorflow Scala Pytorch GO Java Keras Python ...,빅데이터 ai 데이터 엔지니어링 분석 및 처리 데이터 파이프라인 개발과 ...,tensorflow pytorch keras 등 머신러닝 딥러닝 프레임워크 ...,로그시스템 및 데이터마트 structure 설계 경험 hadoop mr ...

In [19]:
## 신입인 경우는?
df2[df2.newbie == '신입']

,company,newbie,degree,hard_skill
18,브이티피엘,신입,0,Mongodb Node
34,코드에프,신입,0,Html
56,에듀윌,신입,0,
60,블랙탠저린,신입,1,Python Mlops
95,하이퍼라운지,신입,0,PPT Excel
118,로그프레소,신입,0,
119,로그프레소,신입,1,
165,리얼에이이,신입,0,
175,러닝스푼즈,신입,0,
209,케어마인드,신입,0,
229,디플래닛,신입,0,
302,메타마케팅,신입,0,DA
316,큐리어슬리,신입,0,
334,펠릭스랩,신입,0,
348,매드코퍼레이션,신입,0,MS DA SA
353,펫프렌즈,신입,0,DA
360,스마트스터디게임즈,신입,0,
387,민병철교육그룹,신입,0,
443,buzzvil,신입,0,
475,블랙탠저린,신입,0,
510,드라마앤컴퍼니(리멤버),신입,0,SQL
536,버즈빌(buzzvil),신입,0,R Python SQL
573,피어테크(지닥),신입,0,PPT Excel
580,알파브라더스,신입,0,
597,아이언플래그,신입,0,
607,바비톡,신입,0,SQL Firebase Amplitude DA AMP Google GA
643,아이비베리,신입,0,
700,레트리카(retrica),신입,0,
715,빅워크,신입,0,
719,더이앤엠,신입,0,
787,핀다(finda),신입,0,
799,유섭,신입,0,
809,단비교육,신입,0,PPT Excel MS
830,더삼상공,신입,0,MS
832,원더피플,신입,0,
833,원더피플,신입,0,
834,원더피플,신입,0,
838,알티모빌리티,신입,0,
841,슈퍼진,신입,0,
904,크레비스파트너스(도너스),신입,0,GTM
947,하나금융티아이,신입,1,Tensorflow Pytorch
952,태그하이브(taghive),신입,0,Tensorflow Pytorch Keras
972,하이퍼클라우드,신입,0,
998,넛지헬스케어(캐시워크),신입,0,
1010,아임잇,신입,0,
1045,비스텔리젼스,신입,1,
1083,모아데이타,신입,1,R Tensorflow Docker Pytorch Elasticsearch Pyth...
1125,메라커,신입,0,
1144,투비소프트,신입,0,
1153,포엔,신입,0,

In [20]:
## 석사 이상 요구하는 경우는?
df2[df2.degree == 1]

,company,newbie,degree,hard_skill
10,원티드랩,경력,1,AMP
28,스캐터랩(scatterlab),경력,1,Tensorflow Pytorch
57,누비랩,경력,1,
58,누비랩,경력,1,
60,블랙탠저린,신입,1,Python Mlops
99,데이터헌트 (피스컬노트),경력,1,
106,수퍼톤,경력,1,Tensorflow Pytorch Docker
114,버킷플레이스(오늘의집),경력,1,Cloud
119,로그프레소,신입,1,
453,딥브레인에이아이,경력,1,Python
486,더제이알피,경력,1,
487,코드스테이츠(codestates),경력,1,R Python
494,굿라이프랩,경력,1,
598,엔라이튼,경력,1,
907,크레비스파트너스(도너스),경력,1,
918,세이지리서치,경력,1,Python GIT Pytorch
924,원프레딕트(onepredict),경력,1,Python
941,딜리셔스(신상마켓),경력,1,Docker GIT Kubernetes Shell Python
943,휴톰,경력,1,R Python
947,하나금융티아이,신입,1,Tensorflow Pytorch
948,하나금융티아이,경력,1,R Python
954,몬드리안에이아이,경력,1,
962,마인즈앤컴퍼니,경력,1,Pytorch
964,마인즈앤컴퍼니,경력,1,Pytorch
965,마인즈앤컴퍼니,경력,1,Pytorch
973,야놀자tech(r&d),경력,1,AMP
990,식스티헤르츠,경력,1,Tensorflow Python Keras
1004,인핸드플러스,경력,1,Tensorflow Python
1045,비스텔리젼스,신입,1,
1046,비스텔리젼스,경력,1,Matlab R Python Tensorflow
1052,크로커스,경력,1,
1065,와들,경력,1,
1083,모아데이타,신입,1,R Tensorflow Docker Pytorch Elasticsearch Pyth...
1084,모아데이타,경력,1,
1092,콘스텔레이션코리아,경력,1,
1093,그린랩스,경력,1,Python
1096,워드바이스,경력,1,Tensorflow Pytorch
1098,카비(carvi),경력,1,R Python
1111,오비이랩(obelab),경력,1,
1115,딥노이드(deepnoid),경력,1,Tensorflow Pytorch
1116,딥노이드(deepnoid),경력,1,Tensorflow Python Linux Pytorch
1119,어니스트펀드,경력,1,
1122,웰시콘(wellxecon),경력,1,R Python
1127,야놀자,경력,1,R SQL Spark Matlab Pandas Hive Python Hadoop
1132,쿠팡,경력,1,Python
1133,쿠팡,경력,1,R Python SQL
1151,라플라스테크놀로지스,경력,1,Numpy Pandas SQL
1160,라인플러스(line plus),경력,1,R Tensorflow SQL Spark Pytorch Python

In [21]:
## (데이터를 가져온) 원본 데이터의 모습은
df[['company', 'job', 'job_require']]

,company,job,job_require
0,악어디지털,딥러닝모델개발자,2년 이상 경력자 python을 이용한 프로그램 작성 경험 딥러닝 프레임...
1,수성엔지니어링,데이터 엔지니어 (python specialist),python을 능숙하게 다룰 수 있는 개발자 객체지향 프로그래밍에 대한 충분...
2,아인시스에이아이랩,data engineer,이공계 졸업 예정자 혹은 관련 경력을 보유하신 분 네트워크 애플리케이션 개...
3,유진로봇,개발본부 ams팀 백엔드(back-end) 개발자,javascript es6 es7 사용자 database 사용 가능자...
4,스콥정보통신,"ai(인공지능), 빅데이터 개발자",tensorflow pytorch keras 등 머신러닝 딥러닝 프레임워크 ...
...,...,...,...
1162,비바엔에스,[잇츠스마트팜/대전] ai 엔지니어 (ai engineer),c python 프로그래밍 언어에 능숙하며 문제해결이 가능하신 분 rest api ...
1163,비바엔에스,[잇츠스마트팜/서울] ai 엔지니어 (ai engineer),c python 프로그래밍 언어에 능숙하며 문제해결이 가능하신 분 rest api ...
1164,핌아시아,data 활용/분석 담당자,1 직급 과장2 경력 4년 이상3 개발언어 linux php mysql sas r ...
1165,넥스다임,연구원,경력3년이상 경력7년이상 java servletjsp 개발경험 필수 javascri...
1166,디메타,ai 서비스 개발,컴퓨터 관련 분양 전공 ai 모델 개발에 현실 데이터 사용 경험